<div class="card">
    <div class="card-content">
<p class="title is-5">Дорожно-транспортный</p>
<p class="subtitle">Факультет</p>
<div class="container">
	<figure class="image container is-128x128">
		<img src="/img/dt.jpg" alt="Факультет ДТ" >
	</figure>
</div>
<br />
<div class="content">
<p><strong>СПЕЦИАЛЬНОСТИ ФАКУЛЬТЕТА:</strong></p>
	<ul>
		<li>Эксплуатация транспортно-технологических машин и комплексов</li>
		<li>Наземные транспортно-технологические средства</li>
		<li>Строительство</li>
		<li>Техносферная безопасность</li>
	</ul>
<p><strong>КАФЕДРЫ ФАКУЛЬТЕТА:</strong></p>
	<ul>
		<li><a href="/ru/faculty/dt/kf-at">Автомобильный транспорт</a></li>
		<li><a href="/ru/faculty/dt/kf-adis">Автомобильные дороги и искусcтвенные сооружения</a></li>
		<li><a href="/ru/faculty/dt/kf-od">Общеинженерные дисциплины</a></li>
		<li><a href="/ru/faculty/tiit/kf-mo">Менеджмент организаций</a></li>
	</ul>
</div>	
    <div class="has-text-centered">
        <a href="/ru/faculty/dt" class="button is-primary">Подробнее...</a>
    </div>
     </div>   
</div>
<br />
<div class="card">
    <div class="card-content">
        <p class="title is-5">Транспортные и информационные технологии</p>
        <p class="subtitle">Факультет</p>
<div class="container">
          <figure class="image container is-128x128">
            <img src="/img/tiit.jpg" alt="Факультет ТиИТ" >
          </figure>
</div>
<br />
<div class="content">
          <p><strong>СПЕЦИАЛЬНОСТИ ФАКУЛЬТЕТА:</strong></p>
<ul>
    <li>Организация и регулирование дорожного движения</li>
    <li>Организация перевозок и управление на транспорте</li>
    <li>Бизнес информатика и администрирование</li>
    <li>Информационные системы и технологии</li>
</ul>
<p><strong>КАФЕДРЫ ФАКУЛЬТЕТА:</strong></p>
<ul>
    <li><a href="/ru/faculty/tiit/kf-tt">Транспортные технологии</a></li>
    <li><a href="/ru/faculty/dt/kf-ebzh">Экология и безопасность жизнедеятельности</a></li>
    <li><a href="/ru/faculty/tiit/kf-mm">Математическое моделирование</a></li>
    <li><a href="/ru/faculty/tiit/kf-on">Общественные науки</a></li>
    <li><a href="/ru/faculty/tiit/kf-im">Иностранные языки</a></li>
</ul>
</div>
        <div class="has-text-centered">
            <a href="/ru/faculty/tiit" class="button is-primary">Подробнее...</a>
        </div>
</div>
</div>
