<div class="card">
    <div class="card-content">

    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <a class="title is-6" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
            {% endif %}
            <p>{{ post.excerpt }}</p>
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Читать далее</a>
        </div>
    </div>
    <footer class="card-footer">
        
        <p class="card-footer-item">Опубликовано: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>
</div>
