<style type="text/css">
  @media screen and (max-width: 767px) {
    .select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    border: 2px solid #00d1b2;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    }
  }
</style>
<script>
  $(function(){                
    /* expandable navbar-dropdown items */
    function mobile_expandable_menu() {
      if( $(window).width() < 768 ) {
        $('.navbar-link').next('.navbar-dropdown').hide();
        $('.navbar-link').on('click', function(){
          $(this).next('.navbar-dropdown').slideToggle();
        });
      } else {
        $('.navbar-link').next('.navbar-dropdown').css('display','');
        $('.navbar-link').unbind('click');
      }
    }
                var screen_resize_timout;
                $(window).on("resize", function (e) {
                    clearTimeout(screen_resize_timout);
                    screen_resize_timout = setTimeout(mobile_expandable_menu, 100000);
                });
                mobile_expandable_menu();
  });
</script>
<nav class="navbar is-primary">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/img/navlogo.png" alt="АДИ ДОННТУ" width="22" >
    </a>
    <a class="navbar-item" href="/">
      <p class="is-size-5">АДИ "ДОННТУ"</p>
    </a>
    <div class="navbar-burger burger" data-target="navMenubd">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenubd" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <i class="fas fa-university"></i>&emsp;О институте
        </div>        
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="{{ site.baseurl }}/sveden/common/">Сведения об образовательной организации</a>
          <a class="navbar-item " href="{{ site.baseurl }}/ru/appeal/">Обращение</a>
          <a class="navbar-item " href="#">Документы</a>
          <a class="navbar-item " href="#">История АДИ ДОННТУ</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link">
          <i class="far fa-building"></i>&emsp;Структура АДИ ДОННТУ"
        </div>
        <div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: auto;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                
                <a class="navbar-item" href="/ru/dep/nich/">
                  <div class="navbar-content">
                    <p>Научно-исследовательская часть</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/dep/cos/">
                  <div class="navbar-content">
                    <p>Центр организации отношений в сфере образования (ЦОС)</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/dep/cict/">
                  <div class="navbar-content">
                    <p>Центр информационных и компьютерных технологий</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/dep/rio/">
                  <div class="navbar-content">
                    <p>Редакционно-издательский отдел</p>
                  </div>
                </a>
                <a class="navbar-item " href="/ru/dep/uicat/">Учебно-исследовательский центр автомобильного транспорта</a>
                <a class="navbar-item" href="/ru/dep/studclub/">
                  <div class="navbar-content">
                    <p>Студенческий клуб</p>
                  </div>
                </a>
              </div>
              <div class="column">

                <a class="navbar-item" href="/ru/dep/cmipdo/">
                  <div class="navbar-content">
                    <p>Центр международного образования и переподготовки специалистов</p>
                  </div>
                </a>
                <a class="navbar-item " href="/ru/dep/omto/">Отдел материально-технического обеспечения</a>
                <a class="navbar-item " href="/ru/dep/library/">Библиотека</a>
                <a class="navbar-item " href="/ru/dep/uo/">Учебный отдел</a>
                <a class="navbar-item" href="/ru/dep/ok/">
                  <div class="navbar-content">
                    <p>Отдел кадров</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/dep/kanc/">
                  <div class="navbar-content">
                    <p>Канцелярия</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
            <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link">
          <i class="fas fa-landmark"></i>&emsp;Факультеты
        </div>
        <div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title"><a href="/ru/faculty/dt">Дорожно-транспортный</a></h1>
                <a class="navbar-item" href="/ru/faculty/dt/kf-at">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Автомобильный транспорт</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/dt/kf-adis">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Автомобильные дороги и искусcтвенные сооружения</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/dt/kf-od">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Общеинженерные дисциплины</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/dt/kf-ebzh">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Экология и безопасность жизнедеятельности</p>
                  </div>
                </a>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title"><a href="/ru/faculty/tiit">Транспортные и информационные технологии</a></h1>
                <a class="navbar-item" href="/ru/faculty/tiit/kf-mo">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Менеджмент организаций</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/tiit/kf-tt">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Транспортные технологии</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/tiit/kf-mm">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Математическое моделирование</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/tiit/kf-on">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Общественные науки</p>
                  </div>
                </a>
                <a class="navbar-item" href="/ru/faculty/tiit/kf-im">
                  <div class="navbar-content">
                    <p>
                      <small>Кафедра</small>
                    </p>
                    <p>Иностранные языки</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <a class="navbar-item " href="/blog/">
        <i class="far fa-newspaper"></i>&emsp;Новости
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="fas fa-globe"></i>&emsp;{{ site.data.translations['language'][page.lang] }}
        </a>
        <div class="navbar-dropdown is-right is-boxed">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% if posts.size == 0 %}
          {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% endif %}
          {% for post in posts %}
          <a class="navbar-item" href="{{ site.baseurl }}{{ post.url }}">{{ site.data.languages-ru[post.lang].icon }}&emsp;{{ site.data.languages-ru[post.lang].label }}
            {% endfor %}
          </a>
        </div>
      </div>
    </div>
  </div>
    </div>
</nav>    