<nav class="navbar is-primary">
    <div class="container">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <!--  <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/sveden/common">
          <i class="fas fa-paperclip"></i>&emsp;Сведения об образовательной организации
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/sveden/common">
            Основные сведения
          </a>
          <a class="navbar-item" href="/sveden/struct">
            Структура и органы управления образовательной организацией
          </a>
          <a class="navbar-item" href="/sveden/document">
            Документы
          </a>
          <a class="navbar-item" href="/sveden/education">
            Образование
          </a>
          <a class="navbar-item" href="/sveden/eduStandarts">
            Образовательные стандарты
          </a>
          <a class="navbar-item" href="/sveden/employees">
            Руководство. Педагогический (научно-педагогический) состав
          </a>
          <a class="navbar-item" href="/sveden/objects">
            Материально-техническое обеспечение и оснащенность образовательного процесса
          </a>
          <a class="navbar-item" href="/sveden/grants">
            Стипендии и иные виды материальной поддержки
          </a>
          <a class="navbar-item" href="/sveden/paid_edu">
            Платные образовательные услуги
          </a>
          <a class="navbar-item" href="/sveden/budget">
            Финансово-хозяйственная деятельность
          </a>
          <a class="navbar-item" href="/sveden/vacant">
            Вакантные места для приема (перевода)
          </a>
          <a class="navbar-item" href="/sveden/ovz">
            Доступная среда
          </a>
          <a class="navbar-item" href="/sveden/inter">
            Международное сотрудничество
          </a>
          <a class="navbar-item" href="/sveden/abitur">
            Абитуриенту
          </a>
        </div>
      </div>     -->
      <a class="navbar-item " href="/abitur">
        <i class="fas fa-university"></i>&emsp;Абитуриенту
      </a>
      <a class="navbar-item " href="#">
        <i class="fas fa-user-graduate"></i>&emsp;Студенту
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <i class="fas fa-atom"></i>&emsp;Наука
        </div>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="/ru/scientificachievements/">Научные достижения</a>
          <a class="navbar-item " href="#">Конференции</a>
          <a class="navbar-item " href="#">Олимпиады</a>
          <a class="navbar-item " href="#">Конкурсы</a>
        </div>
      </div>
      <a class="navbar-item " href="/ru/eios/">
        <i class="fab fa-cloudversify"></i>&emsp;ЭИОС
      </a>
      <a class="navbar-item " href="/ru/dep/library">
        <i class="fas fa-book-reader"></i>&emsp;Библиотека
      </a>

    </div>
    
<div class="navbar-end">
      <a href="#" itemprop="copy" class="navbar-item bvi-open bvi-tts" title="Версия сайта для слабовидящих"><i class="far fa-eye"></i>&emsp;Версия сайта для слабовидящих</a>
</div>
  
  </div>
</div>

</nav>
