<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/{{ site.index[page.lang] }}">
      <img src="/img/bulma-logo.png" alt="АДИ ДонНТУ" width="112" height="28">
    </a>
    <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fab fa-github"></i>
      </span>
    </a>
    <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
    <div class="navbar-burger burger" data-target="navMenubd">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenubd" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="/documentation/overview/start/">
          О институте
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="/documentation/overview/start/">
            Сведения об образовательной организации
          </a>
          <a class="navbar-item " href="#">
            Структура АДИ ГОУВПО ДонНТУ
          </a>
          <a class="navbar-item " href="#">
            История АДИ ДонНТУ
          </a>
          <a class="navbar-item " href="#">
            Layout
          </a>
          <a class="navbar-item " href="#">
            Form
          </a>
          <a class="navbar-item " href="#">
            Elements
          </a>
          <a class="navbar-item is-active" href="#">
            Components
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                <strong class="has-text-info">0.5.1</strong>
              </p>
              <small>
                <a class="bd-view-all-versions" href="/versions">View all versions</a>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link">
          Факультеты
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Дорожно-транспортный</h1>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Автомобильный транспорт</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Автомобильные дороги и искусcтвенные сооружения</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Общеинженерные дисциплины</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Экология и безопасность жизнедеятельности</p>
                  </div>
                </a>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Транспортные и информационные технологии</h1>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Менеджмент организаций</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Транспортные технологии</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Математическое моделирование</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Общественные науки</p>
                  </div>
                </a>
                <a class="navbar-item" href="#">
                  <div class="navbar-content">
                    <p>
                      <small class="has-text-info">Кафедра</small>
                    </p>
                    <p>Иностранные языки</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          Абитуриенту
        </div>
        <div id="moreDropdown" class="navbar-dropdown ">
          <a class="navbar-item " href="#">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <strong>Extensions</strong>
                    <br>
                    <small>Side projects to enhance Bulma</small>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="icon has-text-info">
                    <i class="fa fa-plug"></i>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <a class="navbar-item " href="#">
        <span class="bd-emoji">🎨</span> &nbsp;Студенту
      </a>
      <a class="navbar-item " href="#">
        <span class="bd-emoji">❤️</span> &nbsp;Библиотека
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="fas fa-globe"></i>&emsp;{{ site.data.translations['language'][page.lang] }}
        </a>
        <div class="navbar-dropdown is-right is-boxed">
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% if posts.size == 0 %}
          {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% endif %}
          {% for post in posts %}
          <a class="navbar-item" href="{{ site.baseurl }}{{ post.url }}">{{ site.data.languages[post.lang].label }}&emsp;{{ site.data.languages[post.lang].icon }}
            {% endfor %}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>