---
layout: page-sveden
title: Финансово-хозяйственная деятельность
subtitle: Сведения об образовательной организации
lang: ru
ref: Финансово-хозяйственная деятельность
menubar: sveden_menu
show_sidebar: false
---
<div itemprop="finSred">
	<div itemprop="volume">
		<h3>Объем образовательной деятельности</h3>
		<table class="table is-striped" align="center" cellpadding="3" cellspacing="0" style="width:60%;" width="623">
			<tbody>
			</tbody>
			<thead>
				<tr>
					<th colspan="4" style="width:623px;height:37px;">
						<p class="rtecenter">Объем образовательной деятельности, финансовое обеспечение которой осуществляется</p>
					</th>
				</tr>
				<tr>
					<th style="width:156px;height:93px;">
						<p class="rtecenter">за счёт бюджетных ассигнований бюджета (тыс. руб.)</p>
					</th>
					<th style="width:156px;height:93px;">
						<p class="rtecenter">за счёт бюджетов субъектов<br />
							Российской Федерации<br />
							(тыс. руб.)</p>
					</th>
					<th style="width:142px;height:93px;">
						<p class="rtecenter">за счёт местных бюджетов<br />
							(тыс. руб.)</p>
					</th>
					<th style="width:170px;height:93px;">
						<p class="rtecenter">по договорам об образовании за счет средств физических<br />
							и (или) юридических лиц<br />
							(тыс. руб.)</p>
					</th>
				</tr>
			</thead>
			<tbody itemprop="finPost">
				<tr>
					<td itemprop="finBFVolume" style="width:156px;height:93px;">
						<p align="center" style="margin-left:.35pt;">-</p>
						<p align="center">(Республиканский бюджет<br />
							Донецкой Народной Республики)</p>
					</td>
					<td itemprop="finBRVolume" style="width:156px;height:93px;">
						<p align="center" style="margin-left:.25pt;">-</p>
					</td>
					<td itemprop="finBMVolume" style="width:142px;height:93px;">
						<p align="center" style="margin-left:.6pt;">-</p>
					</td>
					<td itemprop="finPVolume" style="width:170px;height:93px;">
						<p align="center" style="margin-left:.25pt;">-</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p>&nbsp;</p>
		<p><strong>Информация о поступлении и расходовании финансовых и материальных средств</strong></p>
		<div itemprop="finRas">
			<p><a href="#" target="_blank">Смета</a></p>
		</div>
		<p><a href="#" itemprop="planFinRec" target="_blank">План финансово-хозяйственной деятельности</a></p>
	</div>
</div>
<br />
<p>
	<strong>Раскрытие информации об образовательной организации в соответствии с Приказом Рособрнадзора №785 от 29.05.2014 "Об утверждении требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления на нем информации" (с изменениями и дополнениями от 02.02.2016 приказ №134, от 27.11.2017 приказ №1968 и 14.05.2019 приказ №631, от 07.04.2020 №493).</strong>
</p>
