---
layout: page-sveden
title: Основные сведения
subtitle: Сведения об образовательной организации
description: Сведения об образовательной организации - Основные сведения
lang: ru
ref: Основные сведения
menubar: sveden_menu
show_sidebar: false
hero_image: /img/sveden.jpg
---
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li style="margin-top: 0.25em;">
			<a href="/ru/index.html">Главная</a>
		</li>
		<li>
			<a href="/sveden/common/">Сведения об образовательной организации</a>
		</li>
		<li class="is-active">
			<a href="/sveden/common/" aria-current="page">Основные сведения</a>
		</li>
	</ul>
</nav>
<h1>Основные сведения</h1>
<h3>Автомобильно-дорожный институт Государственного образовательного учреждения высшего профессионального образования «Донецкий национальный технический университет»</h3>
<div itemprop="osnovSveden">
	<div class="table-container">
		<table class="table is-bordered" align="center" border="0" cellpadding="5" cellspacing="0" style="width: 690px;">
			<tbody>
				<tr>
					<td class="rteleft" style="width: 133px;">Дата создания образовательной организации</td>
					<td class="rteleft" itemprop="regDate" style="width: 534px;">09.08.1959 г.</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px;">Адрес местонахождения образовательной организации</td>
					<td class="rteleft" itemprop="address" style="width: 534px;">84646, Донецкая Народная Республика, г. Горловка, улица Кирова, 51</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px;">Филиалы образовательной организации</td>
					<td class="rteleft" itemprop="filInfo" style="width: 534px;">
						<p>Нет</p>
						<div itemprop="nameFil" style="display: none;">non</div>
						<div itemprop="addressFil" style="display: none;">non</div>
						<div itemprop="websiteFil" style="display: none;">non</div>
					</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px;">Режим, график работы</td>
					<td itemprop="workTime" style="width: 534px;">
						<p>Административные подразделения:
							<br />
			Понедельник - пятница: 08:00-17:00
							<br />
			Перерыв для отдыха и питания: 12:00-13:00
							<br />
			Суббота, воскресенье: выходные дни
							<br />
			Вход сотрудников в корпуса Университета осуществляется строго по пропускам установленного образца и студенческим билетам с 8:00 до 17:00.&nbsp;
							<br />
			Сетка расписания учебных занятий:
							<br />
			Понедельник - суббота:
							<br />
			08:00 - 9:35, перерыв 20 мин.
							<br />
			09:55 - 11:30, перерыв 15 мин.
							<br />
			11:45 - 13:20, перерыв 15 мин.
							<br />
			13:35 - 15:10, перерыв 15 мин.
							<br />
			Воскресенье: выходной день
							<br />
			Режим работы ППС и обучения студентов в период экзаменационных сессий определяется расписанием экзаменационной сессии, экзаменов и консультаций.
						</p>
					</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px;">Контактные телефоны</td>
					<td itemprop="telephone" style="width: 534px;">+38 (0624)-55-33-22 (приемная директора)
						<br />+38 (0624)-55-27-03 (канцелярия)
						<br />+38 (0624)-55-36-25 (отборочная комиссия)
					</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px; display: none;"></td>
					<td itemprop="fax" style="width: 534px; display: none;">non</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px;">Адреса электронной почты</td>
					<td itemprop="email" style="width: 534px;">
						<a href="mailto:inst@adidonntu.ru">inst@adidonntu.ru</a>
						<br />
						<a href="mailto:office@adidonntu.ru">office@adidonntu.ru</a>
					</td>
				</tr>
				<tr>
					<td class="rteleft" style="width: 133px;">Почтовый адрес</td>
					<td style="width: 534px;">84646, Донецкая Народная Республика, г. Горловка, улица Кирова, 51</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="rteleft">&nbsp;</p>
	<p class="rteleft">
		<span style="font-size:16px;">
			<strong>Информация об учредителе (учредителях) образовательной организации</strong>
		</span>
	</p>
	<div class="table-container">
		<table class="table is-bordered" align="center" border="0" cellpadding="5" cellspacing="0" itemprop="uchredLaw" itemscope="" itemtype="http://obrnadzor.gov.ru/microformats/uchredLaw" style="width:70%;">
			<thead>
				<tr>
					<th class="rtecenter">Наименование учредителя</th>
					<th class="rtecenter" style="width: 111px;">Фамилия, имя, отчество руководителя учредителя (ей) образовательной организации</th>
					<th class="rtecenter" style="width: 124px;">Адрес местонахождения учредителя (ей)</th>
					<th class="rtecenter" style="width: 127px;">Контактные телефоны</th>
					<th class="rtecenter">Адрес электронной почты</th>
					<th class="rtecenter">Адрес сайта учредителя(ей) в сети «Интернет»</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td itemprop="nameUchred">Государственное образовательное учреждение высшего профессионального образования «Донецкий национальный технический университет»</td>
					<td itemprop="fullnameUchred" style="width: 111px;">Аноприенко Александр Яковлевич</td>
					<td class="rteleft" itemprop="addressUchred" style="width: 124px;">283001, ДНР, г. Донецк, Ворошиловский район, улица Артема, 58</td>
					<td class="rteleft" itemprop="telUchred" style="width: 127px;">+38(062)301-07-09 (справка)
						<br />+38(062)301-07-69 (канцелярия)
					</td>
					<td itemprop="mailUchred">
						<a href="mailto:donntu.info@mail.ru">donntu.info@mail.ru</a>
					</td>
					<td itemprop="websiteUchred">
						<a href="http://www.donntu.org/" target="_blank">http://www.donntu.org/</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="rteleft">&nbsp;</p>
<p>
	<strong>Раскрытие информации об образовательной организации в соответствии с Приказом Рособрнадзора №785 от 29.05.2014 "Об утверждении требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления на нем информации" (с изменениями и дополнениями от 02.02.2016 приказ №134, от 27.11.2017 приказ №1968 и 14.05.2019 приказ №631, от 07.04.2020 №493).</strong>
</p>
