---
layout: page-sveden
title: Руководство. Педагогический (научно-педагогический) состав
subtitle: Сведения об образовательной организации
lang: ru
ref: Руководство. Педагогический (научно-педагогический) состав
menubar: sveden_menu
show_sidebar: false
hero_image: /img/employeessveden.jpg
---
<h3>Руководство</h3>
<div class="table-container">
	<table class="table is-striped" cellpadding="3" cellspacing="0" style="width:100.0%;" width="100%">
		<thead>
			<tr>
				<th scope="col" >Ф.И.О</th>
				<th scope="col" >Должность</th>
				<th scope="col" >Контактный телефон</th>
				<th scope="col" >Электронная почта</th>
			</tr>
		</thead>
		<tbody>
			<tr itemprop="rucovodstvo">
				<td itemprop="fio">Чальцев Михаил Николаевич</td>
				<td itemprop="post">Директор</td>
				<td itemprop="telephone">+38 (0624)-55-33-22</td>
				<td itemprop="email"><a href="mailto:chaltsev@adidonntu.ru">chaltsev@adidonntu.ru</a></td>
			</tr>
		</tbody>
	</table>
</div>
<h3>Заместители руководителя</h3>
<div class="table-container">
	<table class="table is-striped" cellpadding="3" cellspacing="0" style="width:100.0%;" width="100%">
		<thead>

			<tr>
				<th scope="col" >Ф.И.О</th>
				<th scope="col" >Должность</th>
				<th scope="col" >Контактный телефон</th>
				<th scope="col" >Электронная почта</th>
			</tr>
		</thead>
		<tbody>
			<tr itemprop="rucovodstvoZam">
				<td itemprop="fio">Заглада Роман Юрьевич</td>
				<td itemprop="post">Заместитель директора по научно-педагогической работе</td>
				<td itemprop="telephone">+38 (0624)-55-33-22</td>
				<td itemprop="email"><a href="mailto:zamdir-uvr@adidonntu.ru">zamdir-uvr@adidonntu.ru</a></td>
			</tr>
		</tbody>
	</table>
</div>
<h3 class="is-hidden">Руководители филиалов</h3>
<div class="is-hidden">
	<table class="table is-striped" cellpadding="3" cellspacing="0" style="width:100.0%;" width="100%">
		<thead>
			<tr>
				<th scope="col" >Наименовании филиала</th>
				<th scope="col" >Ф.И.О. руководителя</th>
				<th scope="col" >Должность руководителя</th>
				<th scope="col" >Телефон</th>
				<th scope="col" >Электронная почта</th>
			</tr>
		</thead>
		<tbody>
			<tr itemprop="rucovodstvoFil">
			    <td>Нет филиалов</td>
				<td itemprop="fio">Нет филиалов</td>
				<td itemprop="post">Нет филиалов</td>
				<td itemprop="telephone">Нет филиалов</td>
				<td itemprop="email">Нет филиалов</td>
			</tr>
		</tbody>
	</table>
</div>

<h3>Педагогический (научно-педагогический) состав</h3>
<div class="table-container">
<table class="table is-striped" cellpadding="3" cellspacing="0" style="width:100.0%;" width="100%">
	<thead>
		<tr>
			<th>Ф.И.О. преподавателя, реализующего программу</th>
			<th>Должность преподавателя</th>
			<th>Перечень преподаваемых дисциплин</th>
			<th>Уровень образования</th>
			<th>Квалификация</th>
			<th>Учёная степень педагогического работника (при наличии)</th>
			<th>Учёное звание педагогического работника (при наличии)</th>
			<th>Наименование направления подготовки и (или) специальности педагогического работника</th>
			<th>Сведения о повышении квалификации и (или) профессиональной переподготовке педагогического работника (при наличии)</th>
			<th>Общий стаж работы</th>
			<th>Стаж работы педагогического работника по специальности</th>
		</tr>
	</thead>
	<tbody>
	    <tr><td style="text-align: left;" colspan="11"><strong>Факультет дорожно-транспортный</strong></td></tr>
	    <tr><td style="text-align: left;" colspan="11"><strong>Кафедра "Автомобильный транспорт"</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">#</td>
			<td itemprop="post">#</td>
			<td itemprop="teachingDiscipline">#</td>
			<td itemprop="teachingLevel">#</td>
			<td itemprop="teachingQual">#</td>
			<td itemprop="degree">#</td>
			<td itemprop="academStat">#</td>
			<td itemprop="employeeQualification">#</td>
			<td itemprop="profDevelopment">#</td>
			<td itemprop="genExperience">#</td>
			<td itemprop="specExperience">#</td>
		</tr>
		<tr><td style="text-align: left;" colspan="11"><strong>Кафедра "Автомобильные дороги и искусственные сооружения"</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">#</td>
			<td itemprop="post">#</td>
			<td itemprop="teachingDiscipline">#</td>
			<td itemprop="teachingLevel">#</td>
			<td itemprop="teachingQual">#</td>
			<td itemprop="degree">#</td>
			<td itemprop="academStat">#</td>
			<td itemprop="employeeQualification">#</td>
			<td itemprop="profDevelopment">#</td>
			<td itemprop="genExperience">#</td>
			<td itemprop="specExperience">#</td>
		</tr>
        <tr><td style="text-align: left;" colspan="11"><strong>Кафедра "Общеинженерные дисциплины"</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Чальцев Михаил Николаевич</td>
			<td itemprop="post">директор, заведующий кафедрой общеинженерные дисциплины, профессор</td>
			<td itemprop="teachingDiscipline">сопротивление материалов, строительная механика</td>
			<td itemprop="teachingLevel">высшее, специалитет, Донецкий политехнический институт, 1965</td>
			<td itemprop="teachingQual">специальность «Горные машины»</td>
			<td itemprop="degree">горный инженер-механик</td>
			<td itemprop="academStat">доктор технических наук</td>
			<td itemprop="employeeQualification">профессор кафедры сопротивление материалов и строительная механика</td>
			<td itemprop="profDevelopment">-</td>
			<td itemprop="genExperience">60</td>
			<td itemprop="specExperience">44</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Куница Виктор Васильевич</td>
			<td itemprop="post">доцент кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">теория машин и механизмов, прикладная механика, детали машин и основы конструирования</td>
			<td itemprop="teachingLevel">высшее, специалитет, Донецкий политехнический институт, 1974</td>
			<td itemprop="teachingQual">специальность «Автомобильный транспорт»</td>
			<td itemprop="degree">инженер-механик</td>
			<td itemprop="academStat">кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры строительно-дорожные машины и детали машин</td>
			<td itemprop="profDevelopment">Справка № 39-27 от 06.04.2017 г. о прохождении стажировки в ГОУВПО «ДонНТУ» 72 ч. на кафедре теоретической механики им. Н.Г.Логвинова по направлению 23.05.01 «Наземные транспортно-технологические средства». Приказ № 49-13 от 03.03.2017</td>
			<td itemprop="genExperience">49</td>
			<td itemprop="specExperience">42</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Карпинец Антонина Павловна</td>
			<td itemprop="post">доцент кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">химия, эксплуатационные материалы</td>
			<td itemprop="teachingLevel">высшее, специалитет, Харьковский государственный университет, 1971</td>
			<td itemprop="teachingQual">специальность «Химия, органическая химия»</td>
			<td itemprop="degree">химик, преподаватель химии</td>
			<td itemprop="academStat">кандидат химических наук</td>
			<td itemprop="employeeQualification">доцент кафедры общей химии</td>
			<td itemprop="profDevelopment">Справка  № 39-14 от 06.04.2017 о прохождении стажировки в  ГОУВПО «ДонНТУ» по кафедре «Общая химия». Приказ № 49-13 от 03.03.2017</td>
			<td itemprop="genExperience">-</td>
			<td itemprop="specExperience">-</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Барбашова Марина Викторовна</td>
			<td itemprop="post">доцент кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">физика</td>
			<td itemprop="teachingLevel">высшее, магистратура, Харьковский национальный университет им. Каразина</td>
			<td itemprop="teachingQual">специальность «Прикладная физика»</td>
			<td itemprop="degree">физик</td>
			<td itemprop="academStat">кандидат технических наук</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Защита кандидатской диссертации. Диплом ДК № 031835 от 29.09.2015</td>
			<td itemprop="genExperience">9,5</td>
			<td itemprop="specExperience">9,5</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Алтухова Татьяна Ивановна</td>
			<td itemprop="post">старший преподаватель кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">сопротивление материалов, строительная механика, теоретическая механика, механика, динамика и устойчивость сооружений, теория упругости, теория расчета пластин и оболочек, нелинейные задачи строительной механики</td>
			<td itemprop="teachingLevel">высшее, специалитет, Донецкий политехнический институт, 1979</td>
			<td itemprop="teachingQual">специальность «Автомобильные дороги»</td>
			<td itemprop="degree">инженер-строитель</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Справка № 39-13 от 06.04.2017 г. о прохождении стажировки в ГОУВПО «ДонНТУ» 72 ч. на кафедре теоретической механики им. Н.Г.Логвинова по направлению 23.05.01 «Наземные транспортно-технологические средства» приказ № 49-13 от 03.03.2017. Справка № 39-49 от 28.11.2019 . о прохождении стажировки в ГОУВПО «ДонНТУ» 72 ч. на кафедре теоретической механики им. Н.Г.Логвинова по направлению 23.05.01. Приказ № 159 от 11.10.2019</td>
			<td itemprop="genExperience">44</td>
			<td itemprop="specExperience">40</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Прись Виктор Павлович</td>
			<td itemprop="post">старший преподаватель кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">общая электротехника и электроника, электротехника и электропривод, электроснабжение с основами электротехники, механизация транспортного строительства, электротехника и электроника</td>
			<td itemprop="teachingLevel">высшее, специалитет, Донецкий политехнический институт, 1975</td>
			<td itemprop="teachingQual">специальность «Автомобильный транспорт»</td>
			<td itemprop="degree">инженер-механик</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Справка № 39-39 от 07.04.2017 о прохождении стажировки в ГОУВПО «ДонНТУ» 72 ч. на кафедре электромеханики и теоретических основ электротехники по направлению «Строительство» для подготовки бакалавров №08.03.01, специалистов № 08.05.03, магистров № 08.04.01, по направлениям 20.03.01 и 20.04.01 «Техносферная безопасность" приказ № 49-13 от 03.03.2017</td>
			<td itemprop="genExperience">53</td>
			<td itemprop="specExperience">44</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Стребиж Наталия Викторовна</td>
			<td itemprop="post">старший преподаватель кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">начертательная геометрия, инженерная графика, компьютерная графика, графические редакторы</td>
			<td itemprop="teachingLevel">высшее, специалитет, Донецкий политехнический институт, 1984</td>
			<td itemprop="teachingQual">специальность «Автомобильные дороги»</td>
			<td itemprop="degree">инженер-строитель</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Справка № 39-24 от 06.04.2017 о прохождении стажировки 72 ч. по кафедре «Начертательная геометрия и техническое черчение» по направлению инженерная и компьютерная графика. приказ № 49-13 от 03.03.2017</td>
			<td itemprop="genExperience">40</td>
			<td itemprop="specExperience">34</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Еремина Вера Ивановна</td>
			<td itemprop="post">старший преподаватель кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">компьютерные технологии в строительстве, метрология, стандартизация, сертификация и контроль качества, основы метрологии, стандартизации, сертификации и контроля качества, основы управления качеством, материаловедение</td>
			<td itemprop="teachingLevel">высшее, специалитет, Харьковский институт радиоэлектроники, 1975</td>
			<td itemprop="teachingQual">специальность «Электронные приборы»</td>
			<td itemprop="degree">инженер электронной техники</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Справка № 39-23 от 06.04.2017 о прохождении стажировки в ГОУВПО «ДонНТУ» 72 ч. на кафедре физического материаловедения по направлению 23.05.11 «Наземные транспортно-технологические средства». приказ № 49-13 от 03.03.2017</td>
			<td itemprop="genExperience">49</td>
			<td itemprop="specExperience">41</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Пархоменко Ольга Леонидовна</td>
			<td itemprop="post">старший преподаватель кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">технология конструкционных материалов, взаимозаменяемость, стандартизация и технические измерения, метрология, стандартизация и сертификация</td>
			<td itemprop="teachingLevel">высшее, специалитет, Днепропетровский институт инженеров железнодорожного транспорта им. М.И. Калинина, 1977</td>
			<td itemprop="teachingQual">специальность «Вагоностроение и вагонное хозяйство»</td>
			<td itemprop="degree">инженер путей сообщения - механик</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Справка № 39-22 от 06.04.2017 о прохождении стажировки в ГОУВПО «ДонНТУ» 72 ч. на кафедре «Технология машиностроения» направлению 23.05.11 «Наземные транспортно-технологические. приказ № 49-13 от 03.03.2017 средства»</td>
			<td itemprop="genExperience">51</td>
			<td itemprop="specExperience">40</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Губа Константин Романович</td>
			<td itemprop="post">ассистент кафедры общеинженерные дисциплины</td>
			<td itemprop="teachingDiscipline">сопротивление материалов, строительная механика, теоретическая механика, механика</td>
			<td itemprop="teachingLevel">высшее, магистратура, Донецкий национальный технический университет, 2019</td>
			<td itemprop="teachingQual">специальность «Строительство»</td>
			<td itemprop="degree">магистр</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">-</td>
			<td itemprop="genExperience">1</td>
			<td itemprop="specExperience">1</td>
		</tr>
		<tr><td style="text-align: left;" colspan="11"><strong>Кафедра «Менеджмент организаций»</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Мельникова Елена Павловна</td>
			<td itemprop="post">заведующий кафедрой "Mенеджмент организаций", профессор</td>
			<td itemprop="teachingDiscipline">экономика организации, экономика отрасли, экономика предприятия, экономика, менеджмент, менеджмент в дорожном строительстве, основы управления в дорожной отрасли, управленческие решения, приятие решений, управленческий консалтинг, планирование на предприятии</td>
			<td itemprop="teachingLevel">высшее, специалитет. Донецкий политехнический институт, 1987 г.</td>
			<td itemprop="teachingQual">специальность: «Автомобили и автомобильное хозяйство»</td>
			<td itemprop="degree">инженер-механик</td>
			<td itemprop="academStat">доктор технических наук</td>
			<td itemprop="employeeQualification">профессор кафедры экономика</td>
			<td itemprop="profDevelopment">1.Повышение квалификации по программе «Государственное и муниципальное управление  в социальной сфере» ФГБОУВО «Донской государственный технический университет», г. Ростов-на-Дону, 2016 г. (72 часа). (Удостоверение 612400001324, регистрационный номер  2-147). 2. Повышение квалификации по программе «Подготовка экспертов для проведения лицензионной и аккредитационной  экспертизы образовательных организаций высшего профессионального образования» ГО ВПО «Донецкий национальный университет экономики и торговли имени  М. Туган-Барановского» 2017 г. (72 часа) (Удостоверение QB 2417003003). 3. Повышение квалификации по дополнительной профессиональной программе «Основы бережливого производства»  ФГБОУВО «Майкопский государственный технологический университет», г. Майкоп, 2019 г. (72 часа). (Удостоверение 012406250001, регистрационный номер 3083).</td>
			<td itemprop="genExperience">37</td>
			<td itemprop="specExperience">37</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Заглада Роман Юрьевич</td>
			<td itemprop="post">Заместитель директора по научно-педагогической работе, доцент кафедры «Менеджмент организаций»</td>
			<td itemprop="teachingDiscipline">Финансовые рынки и институты, финансовый рынок, инвестиционный анализ, антикризисное управление, маркетинг, основы технологического предпринимательства, технологическое предпринимательство, менеджмент инноваций</td>
			<td itemprop="teachingLevel">высшее, магистратура. Донецкий государственный технический университет, 2001 г.</td>
			<td itemprop="teachingQual">специальность: «Менеджмент организаций»</td>
			<td itemprop="degree">магистр менеджмента организаций</td>
			<td itemprop="academStat">кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент кафедры менеджмента организаций</td>
			<td itemprop="profDevelopment">1. Государственное высшее учебное заведение «Донецкий национальный технический университет», курсы повышения квалификации «Управление проектами» (108 час.), свидетельство 12СПК 476101 от 30.11.2013, регистрационный № 2486 2. Федеральное государственное бюджетное образовательное учреждение высшего образования «Донской государственный технический университет» (г. Ростов-на-Дону), повышение квалификации по программе «Государственное и муниципальное управление в социальной сфере», с 10.10 по 20.10.2016 г. (72 ч.), согласно приказа № 742-А от 24.10.16 г. Удостоверение 612400001322, регистрационный № 2-145</td>
			<td itemprop="genExperience">23</td>
			<td itemprop="specExperience">18</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Гайдай Ирина Юрьевна</td>
			<td itemprop="post">доцент кафедры менеджмента организаций</td>
			<td itemprop="teachingDiscipline">маркетинг, маркетинговые коммуникации, инновационный менеджмент и маркетинг в отрасли, бизнес-планирование, управление изменениями</td>
			<td itemprop="teachingLevel">высшее, магистратура Донецкий государственный технический университет, 2001 г.</td>
			<td itemprop="teachingQual">специальность: «Менеджмент организаций»</td>
			<td itemprop="degree">магистр менеджмента организаций</td>
			<td itemprop="academStat">кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент кафедры менеджмента организаций</td>
			<td itemprop="profDevelopment">Свидетельство о повышении квалификации 12СПК 458086 Курс «Менеджмент и администрирование бизнес-структур» специальность «Менеджмент организаций и администрирование (по видам экономической деятельности)» от 30.11.2013 г., 108 часов, «Донецкий Национальный технический университет». Удостоверение о повышении квалификации №  612400001318  регистр. номер 2-142 обучение по программе повышения квалификации «Государственное и муниципальное управление в социальной сфере», 72 часа,  «Донской государственный технический университет».</td>
			<td itemprop="genExperience">16</td>
			<td itemprop="specExperience">16</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Кулаков Виктор Алексеевич</td>
			<td itemprop="post">Доцент кафедры «Менеджмент организаций»</td>
			<td itemprop="teachingDiscipline">Корпоративный менеджмент, организация и планирование деятельности, основы научных исследований, методология и методы научных исследований</td>
			<td itemprop="teachingLevel">Горловский филиал ДПИ, 1978 г.</td>
			<td itemprop="teachingQual">специальность: «Автомобили и автомобильное хазяйство»</td>
			<td itemprop="degree">инженер-механик</td>
			<td itemprop="academStat">кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры ремонта автомобилей и дорожных машин</td>
			<td itemprop="profDevelopment">1. Курсы повышения квалификации «Управление проектами», специальность «Управление проектами» ГВУЗ «ДонНТУ» 2013  г. (108 час.) 12СПК 4761012 от 30.11.2013, регистрационный № 2487. 2. Повышение квалификации по программе «Государственное и муниципальное управление  в социальной сфере» Федеральное государственное бюджетное образовательное учреждение высшего образования «Донской государственный технический университет», г. Ростов-на-Дону, 2016 г. Удостоверение 612400001323, регистрационный № 2-146</td>
			<td itemprop="genExperience">53</td>
			<td itemprop="specExperience">49</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Руднева Елена Юрьевна</td>
			<td itemprop="post">Доцент кафедры «Менеджмент организаций»</td>
			<td itemprop="teachingDiscipline">«Менеджмент», «Операционный менеджмент», «Экологический менеджмент и аудит», «Лидерство», «Цены и ценообразование», «Налоги и налогообложение», «Современный стратегический анализ», «Менеджмент организаций», «Менеджмент коммерческих отношений»</td>
			<td itemprop="teachingLevel">высшее, магистратура. Донецкий государственный технический университет, 2001 г., «Экономика предприятия»</td>
			<td itemprop="teachingQual">специальность: «Экономика предприятия»</td>
			<td itemprop="degree">магистр экономики предприятия</td>
			<td itemprop="academStat">кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент кафедры менеджмента организаций</td>
			<td itemprop="profDevelopment">1. Государственное высшее учебное заведение «Донецкий национальный технический университет», курсы повышения квалификации «Менеджмент и админи-стрирование бизнес-структур», свид-во 12СПК 458087 от 30.11.2013, рег. № 2472, 2. Федеральное государственное бюджетное образовательное учреждение высшего образования «Донской государственный технический университет» (г. Ростов-на-Дону), повышение квалификации по программе «Государственное и муниципальное управление в социальной сфере», 2016 г., удостоверение 612400001326, рег. № 2-149, 3. Федеральное государственное бюджетное образовательное учреждение высшего образования «Майкопский государственный технологический университет», курсы повышения квалификации по дополнительной профессиональной программе «Основы бережливого производства» (г. Майкоп), 2019 г. удостоверение 012406250004, рег. № 3086</td>
			<td itemprop="genExperience">19</td>
			<td itemprop="specExperience">19</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Чорноус Оксана Ивановна</td>
			<td itemprop="post">доцент кафедры менеджмент организаций</td>
			<td itemprop="teachingDiscipline">Микроэкономика, Международные экономические отношения, Финансовый менеджмент, Управленческий учет и анализ, Корпоративные финансы, ГАК, ГЭК</td>
			<td itemprop="teachingLevel">высшее, специалитет, Автомобильно-дорожный институт Донецкого национального технического университета</td>
			<td itemprop="teachingQual">специальность: «Менеджмент организаций»</td>
			<td itemprop="degree">экономист-менеджер</td>
			<td itemprop="academStat">кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент кафедры менеджмент организаций</td>
			<td itemprop="profDevelopment">1. Удостоверение о повышении квалификации № 6124000001327, рег. номер  2–150 от 20.10.16 г. обучение по программе «Государственное и муниципальное управление в социальной сфере», 72 часа. ФГБОУВО «Донской государственный технический университет»</td>
			<td itemprop="genExperience">18</td>
			<td itemprop="specExperience">18</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Пехтерева Виктория Викторовна</td>
			<td itemprop="post">Старший преподаватель</td>
			<td itemprop="teachingDiscipline">Финансовый анализ, управление человеческими ресурсами, административный менеджмент, экономическое обоснование инновационных решений, управленческая экономика</td>
			<td itemprop="teachingLevel">высшее, специалитет. Донецкий политехнический институт,1993г. Донецкий национальный технический университет, 2004г.</td>
			<td itemprop="teachingQual">1.Специальность «Строительство автомобильных дорог и аэродромов», 2. Специальность «Менеджмент организаций»</td>
			<td itemprop="degree">Инженер-строитель, Экономист-менеджер</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Удостоверение о повышении квалификации 612400001325 от 20.10.2016 г.,  по программе повышения квалификации «Государственное и муниципальное управление в социальной сфере», 72 часа, ФГБОУВО «Донской государственный технический университет», 2. Удостоверение о повышении квалификации 012406250002 от 29.06.2019 г.,по дополнительной профессиональной программе «Основы бережливого производства», 72 часа,  ФГБОУВО «Майкопский государственный технологический университет»</td>
			<td itemprop="genExperience">25</td>
			<td itemprop="specExperience">15</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Гайдай Роман Федорович</td>
			<td itemprop="post">старший преподаватель кафедры менеджмента организаций </td>
			<td itemprop="teachingDiscipline">инновационный менеджмент, управление проектами, теория организации, организационное поведение, управление инновациями, стратегический менеджмент</td>
			<td itemprop="teachingLevel">высшее, специалитет Донецкий государственный технический университет, 1999 г.</td>
			<td itemprop="teachingQual">специальность: «Менеджмент организаций»</td>
			<td itemprop="degree">экономист-менеджер</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Удостоверение о повышении квалификации №  612400001319 регистр. номер 2-142 обучение по программе повышения квалификации «Государственное и муниципальное управление в социальной сфере», 72 часа,  10.10.2016 г. - 20.10.2016 г., «Донской государственный технический университет».</td>
			<td itemprop="genExperience">19</td>
			<td itemprop="specExperience">19</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Шевелева Вита Викторовна</td>
			<td itemprop="post">Старший преподаватель кафедры менеджмент организаций</td>
			<td itemprop="teachingDiscipline">Основы бухгалтерского учета, бухгалтерский учет, финансовый учет</td>
			<td itemprop="teachingLevel">высшее, специалитет. Донецкий национальный университет, 1996 г.</td>
			<td itemprop="teachingQual">специальность: «Бухгалтерский учет, контроль и анализ хозяйственной деятельности»</td>
			<td itemprop="degree">экономист</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">-</td>
			<td itemprop="genExperience">31</td>
			<td itemprop="specExperience">30</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Заглада Екатерина Александровна</td>
			<td itemprop="post">ассистент кафедры «Менеджмент организаций»</td>
			<td itemprop="teachingDiscipline">Корпоративная и социальная ответственность; Корпоративный менеджмент; Институциональная экономика; Макроэкономика</td>
			<td itemprop="teachingLevel">высшее, специалитет. Горловский педагогический институт иностранных языков, 2010 г. высшее, специалитет. Государственное высшее учебное заведение «Донецкий национальный технический университет», 2012 г.</td>
			<td itemprop="teachingQual">специальность «Перевод» специальность «Менеджмент организаций»</td>
			<td itemprop="degree">переводчик англ., фр. языков менеджер-экономист</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Приказ о зачислении в аспирантуру в 2019 году на места в рамках контрольных цифр приема на очную форму обучения № 277-13 от 18.11.2019 г.</td>
			<td itemprop="genExperience">2</td>
			<td itemprop="specExperience">2</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Дариенко Оксана Леонидовна</td>
			<td itemprop="post">ассистент</td>
			<td itemprop="teachingDiscipline">Организация бизнеса, Деловые коммуникации</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">ДонНТУ, 2005г., 8.070801 «Экология и охрана окружающей среды»</td>
			<td itemprop="degree">Магистр экологии</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. ФГБ ОУВО «Донской государственный технический университет» (РФ), Удостоверение о повышении квалификации № 612400001320, «Государственное и муниципальное управление в социальной сфере» (72 часа), 20.10.2016 г., 2. ФГБ ОУВО «Майкопский государственный технологический университет» (РФ), Удостоверение о повышении квалификации № 012406250003, «Основы бережливого производства» (72 часа), 29.06.2019 г.</td>
			<td itemprop="genExperience">15,3</td>
			<td itemprop="specExperience">4,9</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Корнеев Максим Евгеньевич</td>
			<td itemprop="post">Ассистент кафедры «Менеджмент организаций»</td>
			<td itemprop="teachingDiscipline">макроэкономика; теория статистки; социально-экономическая статистика; управление производством; инвестиционный анализ.</td>
			<td itemprop="teachingLevel">высшее, магистр. ДВНЗ ДОННТУ, 2006 г.</td>
			<td itemprop="teachingQual">специальность: «Менеджмент организаций»</td>
			<td itemprop="degree">магистр менеджмента организаций</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Сертификат о прохождении стажировки в рамках повышения квалификации, приказ: № 396-13 от 31.10.17г. По направлению: «Планирование и контроль на предприятии, организация производства и анализ основных экономических показателей», 72 часа, ГОУВПО «ДОННТУ».</td>
			<td itemprop="genExperience">13</td>
			<td itemprop="specExperience">13</td>
		</tr>
		<tr><td style="text-align: left;" colspan="11"><strong>Факультет транспортные и информационные технологии</strong></td></tr>
	    <tr><td style="text-align: left;" colspan="11"><strong>Кафедра "Транспортные технологии"</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Дудников Александр Николаевич</td>
			<td itemprop="post">заведующий кафедрой «Транспортные технологии», доцент</td>
			<td itemprop="teachingDiscipline">Повышение безопасности дорожных условий; Экспертный анализ дорожно-транспортных происшествий; Требования к разработке документов для проектов интеллектуальных транспортных систем (АСУДД); Теория транспортных потоков; Организация дорожного движения; Технические средства организации дорожного движения; Разработка проектов интеллектуальных транспортных систем.</td>
			<td itemprop="teachingLevel">высшее, магистр, Донецкий государственный технический университет, 2000 г.</td>
			<td itemprop="teachingQual">Автомобили и автомобильное хозяйство </td>
			<td itemprop="degree">магистр инженерной механики</td>
			<td itemprop="academStat">Кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры транспортных технологий</td>
			<td itemprop="profDevelopment">1. Министерство транспорта ДНР, система сертификации ДОНТРАНССЕРТ, аттестат аккредитации эксперта по специализациям: автоматизированные (автоматические) системы управления (менеджмента) транспортом, программные средства и информационные технологии (22АС); Технические средства, относящиеся к инфраструктуре транспорта и дорожного хозяйства (22СТ), удостоверение эксперта № 0008, регистрационный номер аттестата аккредитации ССТ ДНР DR . 22ОО. 00024. 2017, 24.01.2017 г., 2. Повышение квалификации  на кафедре «Автоматизированные системы управления», Факультет «Компьютерные науки и технологии», ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Интеллектуальные транспортные системы», «Логические устройства в ОДД и БДД», с 06.03.17 по 06.04.17  согласно приказу № 49-13 от 03.03.17 г., № справки 39-17 от 06.04.2017 г., 3. Повышение квалификации в Московском автомобильно-дорожном государственном техническом университете (МАДИ) г. Москва в форме стажировки в объеме 72 часа по направлению «Технология транспортных процессов» с 09.04.17 по 14.04.17 , справка от 14.04.2017 г., 4. Диссертация д.т.н. подана в диссертационный совет МАДИ г. Москва.</td>
			<td itemprop="genExperience">19</td>
			<td itemprop="specExperience">19</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Самисько Татьяна Александровна</td>
			<td itemprop="post">Декан факультета «ТиИТ», доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Основы логистики; организация автомобильных перевозок и безопасности движения; Грузоведение; Транспортная логистика; Теория транспортных процессов и систем.</td>
			<td itemprop="teachingLevel">Высшее: специалист, Донецкий государственный технический университет, 1999 г.; специалист, Донецкий национальный технический университет, 2006 г.</td>
			<td itemprop="teachingQual">Менеджмент деятельности предприятий; менеджмент организации</td>
			<td itemprop="degree">Инженер-механик; менеджер экономист</td>
			<td itemprop="academStat">Кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры транспортных технологий</td>
			<td itemprop="profDevelopment">1. Министерство транспорта ДНР, система сертификации ДОНТРАНССЕРТ, аттестат аккредитации эксперта по специализации: услуги при перевозке пассажиров (23УП), удостоверение эксперта № 0019, регистрационный номер аттестата аккредитации ССТ ДНР DR . 23УП. 00034. 2017, 24.01.2017 г.</td>
			<td itemprop="genExperience">20</td>
			<td itemprop="specExperience">18</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Василенко Татьяна Евгеньевна</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Дорожно-транспортная планировка городов; Информационные технологии на транспорте; Организация транспортных услуг и безопасность транспортного процесса.</td>
			<td itemprop="teachingLevel">Высшее, специалист, Донецкий национальный технический университет, 2001 г.</td>
			<td itemprop="teachingQual">Организация и регулирование дорожного движения</td>
			<td itemprop="degree">Инженер транспортных технологий</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент кафедры транспортных технологий</td>
			<td itemprop="profDevelopment">1. ДНР МОН, Донецкий республиканский центр повышения квалификации работников органов государственной власти, удостоверение о повышении квалификации QB 2417003003, по профессиональной подготовки по дополнительной профессиональной программе повышения квалификации «Руководство и лидерство в государственном управлении», 17.03.2017 г.</td>
			<td itemprop="genExperience">33</td>
			<td itemprop="specExperience">17</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Виноградов Николай Семенович</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Правовое регулирование в сфере организации дорожного движения; Методология обеспечения безопасности дорожного движения на автомобильном транспорте; Государственное регулирование автотранспортной деятельности; Транспортное право; Проектирование схем организации дорожного движения; Управление проектами организации дорожного движения; Методология и методы научных исследований.</td>
			<td itemprop="teachingLevel">Высшее, инженер, Донецкий политехнический институт, 1986 г</td>
			<td itemprop="teachingQual">Автомобили и автомобильное хозяйство</td>
			<td itemprop="degree">Инженер-механик</td>
			<td itemprop="academStat">Кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры ремонта автомобилей и дорожных машин</td>
			<td itemprop="profDevelopment">1. Министерство транспорта ДНР, система сертификации ДОНТРАНССЕРТ, аттестат аккредитации эксперта по специализации: механическое оборудование транспортного средства, подвижного состава, судна (22ОМ), удостоверение эксперта № 0005, регистрационный номер аттестата аккредитации ССТ ДНР DR . 22ОМ. 00021. 2017, 24.01.2017 г., 2. Повышение квалификации  на кафедре «История и право», Социально-гуманитарный институт, ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Транспортное право», «Правовое регулирование в сфере ОДД», «Государственное регулирование автотранспортной деятельности»  с 06.03.17 по 06.04.17  согласно приказу № 49-13 от 03.03.17 г., № справки 39-31 от 06.04.2017 г.</td>
			<td itemprop="genExperience">41</td>
			<td itemprop="specExperience">32</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Дудникова Наталья Николаевна</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Обследование улично-дорожной сети и параметров транспортного потока; Организация транспортных услуг и безопасность транспортного процесса; Моделирование транспортных процессов; Транспортно-складские комплексы; Информационные технологии на транспорте; Транспортная планировка городов; Аналитические и численные методы в планировании экспериментов и инженерном анализе.</td>
			<td itemprop="teachingLevel">Высшее, магистр, Донецкий национальный технический университет, 2002 г.</td>
			<td itemprop="teachingQual">Автомобили и автомобильное хозяйство</td>
			<td itemprop="degree">Магистр инженерной механики</td>
			<td itemprop="academStat">Кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры транспортных технологий</td>
			<td itemprop="profDevelopment">1. Повышение квалификации на кафедре «Автоматизированные системы управления» ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Управление социально-техническими системами», «Исследование систем управления» с 02.05.17 по 30.05.17 согласно приказу №133-13 от 02.05.17 г., № справки 39-58 от 30.05.2017 г.</td>
			<td itemprop="genExperience">17</td>
			<td itemprop="specExperience">17</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Легкий Сергей Анатольевич</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Управление трудовой деятельностью; Экономика отрасли; Стратегическое планирование автомобильных перевозок; Мультимодальные пассажирские перевозки в условиях мегаполиса; Организационно-производственные структуры транспорта; Методология проектирования транспортных систем.</td>
			<td itemprop="teachingLevel">Высшее, специалист, Донецкий национальный технический университет, 1996 г.,</td>
			<td itemprop="teachingQual">Автомобили и автомобильное хозяйство </td>
			<td itemprop="degree">Инженер-механик, специализация «Менеджмент деятельности предприятий»</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент по специальности «Экономика и управление народным хозяйством»</td>
			<td itemprop="profDevelopment">1. Министерство транспорта ДНР, система сертификации ДОНТРАНССЕРТ, аттестат аккредитации эксперта по специализации: системы управления (менеджмента) качества организаций сферы услуг на транспорте и в дорожном хозяйстве (24МУ), удостоверение эксперта № 0011, регистрационный номер аттестата аккредитации ССТ ДНР DR . 24МУ. 00026. 2017, 24.01.2017 г., 2. Повышение квалификации на кафедре «Экономика предприятия и инноватика» ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Экономика отрасли», «Управление персоналом» с 01.11.19 по 02.12.19 согласно приказу №251-13 от 29.10.19 г., № справки 39-52 от 04.12.2019 г.</td>
			<td itemprop="genExperience">28</td>
			<td itemprop="specExperience">23</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Самисько Дмитрий Николаевич</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Транспортная инфраструктура; Теория транспортных процессов и систем; Планирование транспортной инфраструктуры и транспортных технологий; Безопасность автотранспортных средств; Технология грузовых перевозок; Современные средства имитационного моделирования транспортных комплексов.</td>
			<td itemprop="teachingLevel">Высшее, специалист, Донецкий национальный технический университет, 2004 г.</td>
			<td itemprop="teachingQual">Организация и регулирование дорожного движения</td>
			<td itemprop="degree">Инженер транспортных технологий</td>
			<td itemprop="academStat">Кандидат технических наук</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Министерство транспорта ДНР, система сертификации ДОНТРАНССЕРТ, аттестат аккредитации эксперта по специализации: услуги при перевозке грузов (23УГ), удостоверение эксперта № 0018, регистрационный номер аттестата аккредитации ССТ ДНР DR . 23УГ. 00035. 2017, 24.01.2017 г.</td>
			<td itemprop="genExperience">15</td>
			<td itemprop="specExperience">15</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Селезнева Надежда Алексеевна</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Основы транспортно-экспедиционного обслуживания; Организация специальных пассажирских перевозок; Теория пассажирских транспортных систем; Технология пассажирских перевозок; Экономическая оценка инженерных решений; Государственное регулирование международных автомобильных перевозок и экспедирование грузов; Пассажирский ситименеджмент в условиях мегаполиса.</td>
			<td itemprop="teachingLevel">Высшее: специалист, Донецкий национальный технический университет, 2004 г.; специалист, ГВУЗ «Донецкий национальный технический университет», 2007 г.</td>
			<td itemprop="teachingQual">Организация перевозок и управления на транспорте; Менеджмент организаций</td>
			<td itemprop="degree">Инженер транспортных технологий; Менеджер-экономист</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент кафедры транспортных технологий</td>
			<td itemprop="profDevelopment">1. Министерство транспорта ДНР, система сертификации ДОНТРАНССЕРТ, аттестат аккредитации эксперта по специализации:услуги при перевозке пассажиров (23УП), удостоверение эксперта № 0021, регистрационный номер аттестата аккредитации ССТ ДНР DR . 23УП. 00036. 2017, 24.01.2017 г., 2. Повышение квалификации на кафедре «Международная экономика», факультет «Инженерно-экономический», ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Международные транспортные организации и таможенные операции» с 06.03.17 по 06.04.17  согласно приказу № 49-13 от 03.03.17 г., № справки 39-19 от 06.04.2017 г.</td>
			<td itemprop="genExperience">15</td>
			<td itemprop="specExperience">15</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Сокирко Виктор Николаевич</td>
			<td itemprop="post">доцент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Методы обследования транспортных процессов; Мультимодальные транспортные технологии; Международные грузовые перевозки; Современные проблемы транспортной науки, техники и технологии; Экспертный анализ дорожных условий; Информационное обеспечение систем организации перевозок управления на транспорте и автомобильных дорогах; Проектирование структуры парка грузового и пассажирского транспорта; Организация перевозок специфических видов грузов.</td>
			<td itemprop="teachingLevel">Высшее, инженер, Донецкий политехнический институт, 1980 г.</td>
			<td itemprop="teachingQual">Автомобили и автомобильное хозяйство </td>
			<td itemprop="degree">Инженер-механик</td>
			<td itemprop="academStat">Кандидат технических наук</td>
			<td itemprop="employeeQualification">доцент кафедры экономики и эксплуатации автомобильного транспорта</td>
			<td itemprop="profDevelopment">1. Стажировка, ЧАО ТСП «Алеко-Сервис», справка № 25 (К), по направлению «Транспортные технологии», 22.04.2017 г., 2. Повышение квалификации на кафедре «Международная экономика» ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Научные проблемы экономики транспорта», «Транспортная логистика» с 06.12.17 по 28.12.17  согласно приказу № 442-13 от 05.12.17 г., № справки 39-95 от 28.12.2017 г.</td>
			<td itemprop="genExperience">48</td>
			<td itemprop="specExperience">39</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Меженков Артем Владимирович</td>
			<td itemprop="post">старший преподаватель кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Правила дорожного движения; Управление социально-техническими системами; Методические основы обучения, стажировки и повышения квалификации водителей транспортных средств; Транспортные и погрузочно-разгрузочные средства и технологические процессы; Моделирование дорожного движения; Логические устройства в ОДД и БДД; Системы принятия решений в интеллектуальных транспортных системах; Социальные основы транспортной деятельности.</td>
			<td itemprop="teachingLevel">Высшее, специалист, Донецкий национальный технический университет, 2004 г.</td>
			<td itemprop="teachingQual">Организация и регулирование дорожного движения</td>
			<td itemprop="degree">Инженер транспортных технологий</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Повышение квалификации в Московском автомобильно-дорожном государственном техническом университете (МАДИ) г. Москва в форме стажировки в объеме 72 часа по направлению «Технология транспортных процессов» с 09.04.17 по 14.04.17 , справка от 14.04.2017 г., 2. Диссертация к.т.н. подана в диссертационный совет МАДИ г. Москва.</td>
			<td itemprop="genExperience">15</td>
			<td itemprop="specExperience">13</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Соколова Наталия Александровна</td>
			<td itemprop="post">старший преподаватель кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Исследование систем управления; Интеллектуальные транспортные системы; Системы автоматизации на автомобильном транспорте; Экономическая оценка деятельности по обеспечению безопасности дорожного движения; Городской транспортный комплекс; Информационное обеспечение систем безопасности дорожного движения.</td>
			<td itemprop="teachingLevel">Высшее, магистр, Донецкий национальный технический университет, 2008 г.</td>
			<td itemprop="teachingQual">Организация и регулирование дорожного движения</td>
			<td itemprop="degree">Магистр транспортных технологий</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Повышение квалификации в Московском автомобильно-дорожном государственном техническом университете (МАДИ) г. Москва в форме стажировки в объеме 72 часа по направлению «Технология транспортных процессов» с 09.04.17 по 14.04.17 , справка от 14.04.2017 г., 2. Проходит обучение в АДИ  ГОУВПО «ДОННТУ» по направлению «Менеджмент организаций», период обучения с 2018  по 2021, бакалавриат., 3. Диссертация к.т.н. подана в диссертационный совет МАДИ г. Москва.</td>
			<td itemprop="genExperience">11</td>
			<td itemprop="specExperience">11</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Ветрова Татьяна Алексеевна</td>
			<td itemprop="post">ассистент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Проведение практических и лабораторных занятий по следующим дисциплинам: Транспортная инфраструктура; обследование улично-дорожной сети и параметров транспортного потока; теория транспортных процессов и систем; организация транспортных услуг и безопасность транспортного процесса; логические устройства в ОДД и БДД; стратегическое планирование автомобильных перевозок; мультимодальные транспортные технологии; транспортно-складские комплексы; информационное обеспечение систем организации перевозок управления на транспорте и автомобильных дорогах; транспортное право; организация транспортных услуг и безопасность транспортного процесса;  транспортная планировка городов; безопасность автотранспортных средств; технология грузовых перевозок; управление проектами организации дорожного движения; разработка проектов интеллектуальных транспортных систем; организация перевозок специфических видов грузов; современные средства имитационного моделирования транспортных комплексов.</td>
			<td itemprop="teachingLevel">Высшее: магистр, ГОУВПО «Донецкий национальный технический университет», 2018 г.; магистр, Федеральное государственное бюджетное образовательное учреждение высшего образования «Донской государственный технический университет», 2018 г.</td>
			<td itemprop="teachingQual">Технология транспортных процессов</td>
			<td itemprop="degree">Магистр</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Повышение квалификации на кафедре «Экономика предприятия и инноватика» ГОУВПО «ДОННТУ» в форме стажировки в объеме 72 часа по направлению: совершенствование методики преподавания дисциплин «Экономика отрасли», «Управление персоналом» с 01.11.19 по 02.12.19 согласно приказу №251-13 от 29.10.19 г., № справки 39-51 от 04.12.2019 г.</td>
			<td itemprop="genExperience">1</td>
			<td itemprop="specExperience">1</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Юшков Никита Владимирович</td>
			<td itemprop="post">ассистент кафедры «Транспортные технологии»</td>
			<td itemprop="teachingDiscipline">Проведение практических и лабораторных занятий по следующим дисциплинам: Повышение безопасности дорожных условий; транспортные и погрузочно-разгрузочные средства и технологические процессы; моделирование дорожного движения; интеллектуальные транспортные системы; системы принятия решений в интеллектуальных транспортных системах; моделирование транспортных процессов; информационные технологии на транспорте; экономическая оценка деятельности по обеспечению безопасности дорожного движения; проектирование схем организации дорожного движения.</td>
			<td itemprop="teachingLevel">Высшее, бакалавр, ГОУВПО «Донецкий национальный технический университет», 2019 г.</td>
			<td itemprop="teachingQual">Технология транспортных процессов</td>
			<td itemprop="degree">Бакалавр</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Проходит обучение в АДИ ГОУВПО «ДОННТУ» по направлению «Технология транспортных процессов», период обучения 2019 по 2021, магистратура.</td>
			<td itemprop="genExperience">0</td>
			<td itemprop="specExperience">0</td>
		</tr>
        <tr><td style="text-align: left;" colspan="11"><strong>Кафедра экология и безопасность жизнедеятельности</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Высоцкий Сергей Павлович</td>
			<td itemprop="post">профессор кафедры «Экология и безопасность жизнедеятельности», и. о. зав. кафедрой</td>
			<td itemprop="teachingDiscipline">Философия и методология научного познания; Практика подготовки научных статей и докладов; Технологии энерго- и ресурсосбережения; Методология и методы научных исследований</td>
			<td itemprop="teachingLevel">высшее, специалитет, Киевский политехнический институт, 1958 г.</td>
			<td itemprop="teachingQual">специальность: «Технология неорганических веществ»</td>
			<td itemprop="degree">инженер-технолог</td>
			<td itemprop="academStat">д.т.н.</td>
			<td itemprop="employeeQualification">профессор кафедры отопления и вентиляции и экологии</td>
			<td itemprop="profDevelopment">1. ГОУВПО «ДонНАСА». Свидетельство № 0202 от 18.03.2016. Повышение ква-лификации по программе: Повышение педагогической квалификации, работа в элек-тронной информационно-образовательной среде (72 ч.). Дополнительный модуль: Оказание доврачебной помо-щи (18 ч.) с 08.02.2016 г. по 18.03.2016 г., 2. Повышение квалификации на кафедре «Прикладная эко-логия и охрана окружающей среды» ГОУВПО «ДонНТУ» в форме стажировки по направлению «Экология», с 06.03.17 по 06.04.17 г. (72 ч.) согласно приказа № 49-13 от 03.03.17 г. № справки о про-хождении стажировки 39-32 от 06.04.17 г.</td>
			<td itemprop="genExperience">62</td>
			<td itemprop="specExperience">21</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Лихачева Виктория Викторовна</td>
			<td itemprop="post">доцент кафедры «Экология и безопасность жизнедеятельности</td>
			<td itemprop="teachingDiscipline">Экология; Методы контроля качества среды, экомониторинг; Экологическая безопасность стационарных объектов; Экологическая без-опасность транспортных сооружений; Концепция современного естествознания; БЖД; Экология; БЖД и охрана труда; Ноксология; Нормирование антропогенной нагрузки на окружающую среду; Надежность человеко-машинных систем управления; Стратегия устойчивого развития</td>
			<td itemprop="teachingLevel">высшее, магистратура, Донецкий государственный технический университет, 2002 г.</td>
			<td itemprop="teachingQual">специальность: «Экология и охрана окружающей среды»</td>
			<td itemprop="degree">магистр экологии</td>
			<td itemprop="academStat">к.т.н.</td>
			<td itemprop="employeeQualification">доцент кафедры начертательной геометрии и технического черчения</td>
			<td itemprop="profDevelopment">Повышение квалификации на кафедре «Прикладная экология и охрана окружающей среды» ГОУВПО «ДонНТУ» в форме стажировки по направлению «Ноксология», «Методы контроля качества среды, экомониторинг», с 04.04.17 по 04.05.17 г. (72 ч.) согласно приказа № 84-13 от 04.04.17 г. № справки о прохождении стажировки 39-52 от 04.05.17 г.</td>
			<td itemprop="genExperience">18</td>
			<td itemprop="specExperience">6</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Коновальчик Максим Владимирович</td>
			<td itemprop="post">доцент кафедры «Экология и безопасность жизнедеятельности»</td>
			<td itemprop="teachingDiscipline">Процессы и аппараты защиты воды и воздуха; Очистка промышленных газовых выбросов; Мониторинг безопасности; ГИС в экологии; Нанотехнологии и наноматериалы; Основы рационального использования и инженерной защиты водных, воздушных, земельных и энергетических ресурсов; Экспертиза безопасности; Охрана труда; Урбоэкология; Медико-биологические основы безопасности; Обращение с отходами; Экономика природопользования; Мембранные технологии в очистке воды и газов; БЖД</td>
			<td itemprop="teachingLevel">высшее, магистратура, Донецкий национальный технический университет, 2005 г.</td>
			<td itemprop="teachingQual">специальность: «Экология и охрана окружающей среды»</td>
			<td itemprop="degree">магистр экологии и охраны окружающей среды</td>
			<td itemprop="academStat">к.т.н.</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. ГП «Донецкий ЭТЦ Государственного Комитета Гортехнадзора ДНР». Удостоверение № 69-16-16 о проверке знаний по охране труда, протокол № 69, от 26.05.2016 г. программа включала обучение законодательных и нормативных актов по охране труда, гигиене труда, оказанию первой (доврачебной) помощи потерпевшим, электробезопасности, пожарной безопасности., 2. Аттестат аккредитации эксперта по специализации: системы управления окружающей средой (систем экологического менеджмента) организаций (25 СЭ). Зарегистрирован в реестре 24.01.2017 г. № ССТ ДНР DR. 25 СЭ. 00025.2017. Получено удостоверение эксперта в системе сертификации на транспорте и дорожном хозяйстве по вышеуказанной специализации., 3. Повышение квалификации на кафедре «Безопасность жизнедеятельности» Институт гражданской защиты Донбасса ГОУВПО «ДонНТУ» в форме стажировки по направлению «Безопасность жизнедеятельности», с 06.03.17 по 06.04.17 согласно приказа № 49-13 от 03.03.17 г. № справки о прохождении стажировки 39-12 от 06.04.17 г., 4. ООО «Донбасский учебно-производственный центр». Удостоверение № 52/О-09-19 о проверке знаний по охране труда, протокол № 52/О, от 18.07.2019 г. программа включала обучение по вопросам охраны труда, оказания первой медицинской помощи пострадавшим от несчастных случаев и правила поведения в случае возникновения аварий.</td>
			<td itemprop="genExperience">14</td>
			<td itemprop="specExperience">14</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Кутовой Виталий Александрович</td>
			<td itemprop="post">старший преподаватель кафедры «Экология и безопасность жизнедеятельности»</td>
			<td itemprop="teachingDiscipline">Теория горения и взрыва; Улучшение энергоэкологических характеристик машин; Коррозия в экосистемах; Гражданская оборона; Охрана труда в отрасли; Основы токсикологии и эконормирования; Защита от ЧС на объектах; Экология автотранспорта; Охрана труда</td>
			<td itemprop="teachingLevel">высшее, специалитет, Горловский филиал Донецкого политехнического института,1974 г.</td>
			<td itemprop="teachingQual">специальность: «Автомобили и автомобильное хозяйство»</td>
			<td itemprop="degree">инженер-механик</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Повышение квалификации на кафедре «Безопасность жизнедеятельности» Институт гражданской защиты Донбасса ГОУВПО «ДонНТУ» в форме стажировки по направлению «Безопасность жизнедеятельности», с 06.03.17 по 06.04.17 г. (72 ч.) согласно приказа № 49-13 от 03.03.17 г. № справки о прохождении стажировки 39-16 от 06.04.17 г., 2. Повышение квалификации на кафедре «Техносферная безопасность» ГОУВПО «ДонНАСА» в форме стажировки по направлению «Охрана труда», с 02.05.17 по 31.05.17 г. Справка о прохождении стажировки от 01.06.17 г., 3. ГОУ ВПО «Академия гражданской защиты». Сертификат СПК № 008 о повышении квалификации в сфере гражданской обороны, защиты населения и территорий от чрезвычайных ситуаций (72 часа), 26.10.2018 г.</td>
			<td itemprop="genExperience">46</td>
			<td itemprop="specExperience">21</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Дариенко Оксана Леонидовна</td>
			<td itemprop="post">ассистент кафедры «Экология и безопасность жизнедеятельности»</td>
			<td itemprop="teachingDiscipline">Управление техносферной безопасностью в ДТК; Биотехнологии и биоэталоны; Биохимия; БЖД; Техноэкология; Современные технологии защиты окружающей среды</td>
			<td itemprop="teachingLevel">высшее, магистратура, Донецкий национальный технический университет, 2005 г.</td>
			<td itemprop="teachingQual">специальность: «Экология и охрана окружающей среды»</td>
			<td itemprop="degree">магистр экологии</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. ФГБ ОУВО «Донской госу-дарственный технический университет» (РФ), Удостове-рение о повышении квалифи-кации № 612400001320, «Государственное и муници-пальное управление в соци-альной сфере» (72 часа), 20.10.2016 г., 2. ФГБ ОУВО «Майкопский государственный технологи-ческий университет» (РФ), Удостоверение о повышении квалификации № 012406250003, «Основы бе-режливого производства» (72 часа), 29.06.2019 г.</td>
			<td itemprop="genExperience">15</td>
			<td itemprop="specExperience">3</td>
		</tr>
	    <tr><td style="text-align: left;" colspan="11"><strong>Кафедра математическое моделирование</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Вовк Леонид Петрович</td>
			<td itemprop="post">заведующий кафедрой математического моделирования, профессор</td>
			<td itemprop="teachingDiscipline">Высшая математика, линейная алгебра, теория вероятностей и математическая статистика, анализ данных, дифференциальные и разностные уравнения, механика разрушений, динамические системы в области экономики и финансов, линейная алгебра, прикладная математика</td>
			<td itemprop="teachingLevel">Высшее, специалитет. Ростовский государственный университет, 1977 г. </td>
			<td itemprop="teachingQual">Специальность: «Механика»</td>
			<td itemprop="degree">Механик</td>
			<td itemprop="academStat">доктор технических наук</td>
			<td itemprop="employeeQualification">профессор кафедры высшей математики</td>
			<td itemprop="profDevelopment">1. Стажировка по программе «Использование PHP и средств проектирования баз данных MySQL при разработке информационных систем» с 22.11.17 по 22.12.17г. (72 ч.), согласно приказа №423-13 от 20.11.2017 г. 2. Удостоверение о повышении квалификации ПКСК № 041151 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">42,5</td>
			<td itemprop="specExperience">41</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Николаенко Владимир Леонидович</td>
			<td itemprop="post">доцент</td>
			<td itemprop="teachingDiscipline">Технологии программирования, Объектный анализ и моделирование систем, Прикладное программирование, Интеллектуальные информационные системы и технологии, Системы бизнес-интеллекта, Инженерия знаний и интеллектуальные системы управления бизнесом, Информационные системы и технологии в научных исследованиях, Системная инженерия знаний на транспорте, Средства автоматизации проектирования ИС, CASE средства проектирования программного обеспечения, Информатика</td>
			<td itemprop="teachingLevel">высшее</td>
			<td itemprop="teachingQual">Прикладная математика</td>
			<td itemprop="degree">Математик</td>
			<td itemprop="academStat">К.т.н.</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">1. ГОУВПО «ДОННТУ» Стажировка по программе «Использование PHP и средств проектирования баз данных MySQL при разработке информационных систем» с 22.11.17 по 22.12.17г. (72 ч.), согласно приказа №423-13 от 20.11.2017 г. 2. Удостоверение о повышении квалификации ПКСК № 041169 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">45,4</td>
			<td itemprop="specExperience">43,1</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Гуменюк Наталья Владимировна</td>
			<td itemprop="post">Доцент кафедры математического моделирования</td>
			<td itemprop="teachingDiscipline">Архитектура предприятия, базы данных, технологии обработки информации, рынки ИКТ и организация продаж, методы и средства проектирования ИС, проектирование ИС, теория систем и системный анализ, инструментальные средства ИС, системная диагностика организации, ИС управления персоналом</td>
			<td itemprop="teachingLevel">Высшее, магистратура, Государственное высшее учебное заведение «Донецкий национальный технический университет», 2006 г.</td>
			<td itemprop="teachingQual">Специальность «Экономическая кибернетика»</td>
			<td itemprop="degree">Магистр экономической кибернетики</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">ГОУВПО «ДОННТУ» Стажировка по программе «Использование PHP и средств проектирования баз данных MySQL при разработке информационных систем» с 22.11.17 по 22.12.17г.(72 ч.), согласно приказа №423-13 от 20.11.2017 г. 2. Удостоверение о повышении квалификации ПКСК № 041154 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">19</td>
			<td itemprop="specExperience">14</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Гуменюк Михаил Михайлович</td>
			<td itemprop="post">Доцент кафедры математического моделирования</td>
			<td itemprop="teachingDiscipline">Инфокоммуникационные системы и сети, управление бизнес-проектами, теория принятия решений, управление рисками ИТ-проектов, интернет-технологии, управление цепями поставок, ИТ в транспортной логистике, логистика, распределенные системы</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Донецкий государственный технический университет, 1999 г. Высшее, специалитет, Донецкий национальный университет, 2002</td>
			<td itemprop="teachingQual">Автомобили и автомобильное хозяйство» по специализации «Менеджмент деятельности предприятий», Экономика предприятия</td>
			<td itemprop="degree">инженер-механик, экономист</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">Доцент кафедры информационных систем в экономике</td>
			<td itemprop="profDevelopment">1. ГОУВПО «ДОННТУ» Стажировка по программе «Использование PHP и средств проектирования баз данных MySQL при разработке информационных систем» с 22.11.17 по 22.12.17г. (72 ч.), согласно  приказа №423-13 от 20.11.2017 г., 2. Удостоверение о повышении квалификации ПКСК № 041153 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">#</td>
			<td itemprop="specExperience">#</td>
		</tr>	
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Курносова Олеся Алексанровна</td>
			<td itemprop="post">Доцент</td>
			<td itemprop="teachingDiscipline">Моделирование бизнес-процессов, Моделирование бизнес-процессов в дорожно-транспортной отрасли, Корпоративные информационные системы, Информационные системы управления производственной компанией, Анализ, совершенствование и управление бизнес-процессами, Эффективность информационных систем, Методы и модели оптимизации бизнес-процессов, Информационные системы управления взаимоотношениями с клиентом, Бизнес-аналитика, Экономическая эффективность информационных проектов, Реинжиниринг бизнес-процессов.</td>
			<td itemprop="teachingLevel">Высшее, магистратура Донецкий национальный технический университет, 2005</td>
			<td itemprop="teachingQual">Специальность «Экономическая кибернетика»</td>
			<td itemprop="degree">Магистр по экономической кибернетике</td>
			<td itemprop="academStat">к.э.н.</td>
			<td itemprop="employeeQualification">доцент кафедры информационных систем в экономике</td>
			<td itemprop="profDevelopment">1. Свидетельство о повышении квалификации СПК №2184 от 30.12.2012. Тема: «Объектно-ориентированное программирование и моделирование» в разработке моделей информационных систем и базы данных», 72 часа, Донецкий национальный технический университет, 2. Справка о прохождении стажировки №30-102 от 29.12.2017. Тема: «Использование РНР и средств проектирования баз данных MySQL при разработке информационных систем», 72 часа, ГОУ ВПО «ДОННТУ», 3. Удостоверение о повышении квалификации ПКСК №041166. Программа повышения квалификации: «Деятельность преподавателя с применением инфо- телекоммуникационные  технологий в ВУЗе», 72 часа, Федеральное государственное автономное образовательное учреждение высшего профессионального образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">14</td>
			<td itemprop="specExperience">12</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Королев Евгений Александрович</td>
			<td itemprop="post">Доцент каф. “Математическое моделирование”</td>
			<td itemprop="teachingDiscipline">Высшая математика, математический анализ, аналитическая геометрия, теория вероятности и мат.статистика, математическая логика и теория алгоритмов, дискретная математика.</td>
			<td itemprop="teachingLevel">Высшее, ХГУ (Харьковский Государственный Университет), 1969 г.</td>
			<td itemprop="teachingQual">Специальность: “Математика”</td>
			<td itemprop="degree">Математик</td>
			<td itemprop="academStat">Кандидат физико – математических наук</td>
			<td itemprop="employeeQualification">Доцент кафедры “Математическое моделирование”</td>
			<td itemprop="profDevelopment">Удостоверение о  повышении квалификации ПКСК  № 041162. Обучение  по программе “Деятельность преподавателя с  применением инфотелекоммуникационных технологий  в  ВУЗе”,72 часа. Федеральное государственное автономное образовательное учреждение высшего  образования “Северо – Кавказкий  федеральный университет”-Российская Федерация.</td>
			<td itemprop="genExperience">50,5</td>
			<td itemprop="specExperience">48,5</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Королев Марк Евгеньевич</td>
			<td itemprop="post">Доцент каф. “Математическое моделирование”</td>
			<td itemprop="teachingDiscipline">Компьютерные технологии в  науке, производстве и  образовании, вычислительная техника в сети и отрасли, информатика, прикладная математика, методы обработкти  статистических данных, прикладное программирование и пакеты  программ, исследование операций.</td>
			<td itemprop="teachingLevel">Высшее, специалитет ДОНГУ (Донецкий Государственный Университет), 1994г.</td>
			<td itemprop="teachingQual">Специальность: “Математика”</td>
			<td itemprop="degree">Математик, преподаватель</td>
			<td itemprop="academStat">Кандидат физико – математических наук</td>
			<td itemprop="employeeQualification">Доцент кафедры “Математическое моделирование”</td>
			<td itemprop="profDevelopment">1.Удостоверение о  повышении квалификации 6.04.17 № 39-15. Обучение по  программе: совершенствование методики преподавания по  дисциплинам: “Информатика” , “Прикладное программирование”, “Прикладная математика”, “Прикладное программирование и  пакеты программ”. ГОУ ВПО «ДОННТУ» Кафедра прикладной математики - факультет компьютерных наук и технологий, приказ ректора/директора от «03» марта 2017 г., № 49-13, 2.Удостоверение о  повышении квалификации ПКСК  № 041163. Обучение  по программе: “Деятельность  преподавателя с  применением инфотелекоммуникационных технологий  в ВУЗе”,72 часа. Федеральное государственное автономное образовательное учреждение высшего  образования “Северо – Кавказкий  федеральный университет”-Российская Федерация.</td>
			<td itemprop="genExperience">24</td>
			<td itemprop="specExperience">24</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Федорченко Алексей Геннадьевич</td>
			<td itemprop="post">ассистент</td>
			<td itemprop="teachingDiscipline">Стандартизация, сертификация и управление качеством программного обеспечения; Информационные технологии; Информатика; Логистика; Интернет технологии</td>
			<td itemprop="teachingLevel">Высшее, магистр, АДИ ДонНТУ, 2011 г., Высшее, специалист, АДИ ДонНТУ, 2011 г.</td>
			<td itemprop="teachingQual">Специальность «Организация перевозок и управление на транспорте (автомобильном)», Специальность «Менеджмент организации»</td>
			<td itemprop="degree">Магистр по транспорту, Менеджер экономист</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Удостоверение о повышении квалификации ПКСК № 041176 от 12.10.2019, регистрационный номер 38732, обучения по программе «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа.  Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">9</td>
			<td itemprop="specExperience">6,5</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Рац Михаил Романович</td>
			<td itemprop="post">Ассистент кафедры «Математическое моделирование</td>
			<td itemprop="teachingDiscipline">Технологии программирования, Языки программирования, Хранилища данных, Информационная безопасность и защита данных, Методы и средства проектирования информационных систем, Проектирование информационных систем, Информатика, Базы данных</td>
			<td itemprop="teachingLevel">Полное высшее, Донецкий национальный университет, 2018</td>
			<td itemprop="teachingQual">Специальность «Программирование»</td>
			<td itemprop="degree">Магистр прикладной математики</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Удостоверение о повышении квалификации ПКСК № 041172 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">3</td>
			<td itemprop="specExperience">3</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Кисель Екатерина Сергеевна</td>
			<td itemprop="post">Доцент</td>
			<td itemprop="teachingDiscipline">Информатика и ИКТ, математика, дифференциальные  и разностные уравнения, анализ данных, эконометрика, теория нечетких множеств, электронный бизнес, имитационное моделирование, Web-технологии</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Специальность «Математик»</td>
			<td itemprop="degree">Квалификация «Математик, преподаватель»</td>
			<td itemprop="academStat">Кандидат физико-математических наук</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Защита кандидатской диссертации 01.04.2019, 2. Удостоверение о повышении квалификации ПКСК № 041159 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">19</td>
			<td itemprop="specExperience">15</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Тимашкова Ольга Арсентьевна</td>
			<td itemprop="post">Старший преподаватель</td>
			<td itemprop="teachingDiscipline">Управление жизненным циклом информационных систем, Информационные технологии, Операционные системы</td>
			<td itemprop="teachingLevel">Высшее специалитет: Автомобильно-дорожный институт Донецкого национального технического университета, 2002 г.</td>
			<td itemprop="teachingQual">Специальность «Менеджмент организаций»</td>
			<td itemprop="degree">Экономист-менеджер</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1.Удостоверение о повышении квалификации ПКСК № 041175 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">17</td>
			<td itemprop="specExperience">17</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Даниленко Ирина Витальевна</td>
			<td itemprop="post">ассистент</td>
			<td itemprop="teachingDiscipline">Информатика, Информатика и ИКТ, Математика, Высшая математика, Линейная алгебра, Математический анализ, Теория вероятностей и математическая статистика, Прикладная математика, ИС в ФД, ИС в БУ и НУ</td>
			<td itemprop="teachingLevel">высшее, специалитет. Донецкий государственный университет, 1994 г.</td>
			<td itemprop="teachingQual">специальность: «Математика» </td>
			<td itemprop="degree">Математик. Преподаватеель. Преподаватель информатики и вычислительной техники</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Свидетельство о повышении квалификации № 927 от 02.04.2016 г. обучение по программе «Актуальные вопросы преподавания математики в соответствии новых стандартов», 92 часа. ДОИППО, 2. Удостоверение о повышении квалификации ПКСК № 041155 от 7.10.2019. «Деятельность преподавателя с применением инфотелекоммуникационных технологий в ВУЗе», 72 часа. Федеральное государственное автономное образовательное учреждение высшего образования «Северо-Кавказский федеральный университет»</td>
			<td itemprop="genExperience">25</td>
			<td itemprop="specExperience">25</td>
		</tr>
        <tr><td style="text-align: left;" colspan="11"><strong>Кафедра "Общественные науки"</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Чубучная Елена Валерьевна</td>
			<td itemprop="post">Заведующая кафедрой, доцент</td>
			<td itemprop="teachingDiscipline">Социология, Культурология, Экономика, История управленческой мысли, Экономическая теория, Методология учебной деятельности.</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Донецкий политехнический институт, 1989 г., Высшее, специалитет, Донецкий национальный технический университет,2011 г.</td>
			<td itemprop="teachingQual">Специальность «Автомобильные дороги», Специальность «Менеджмент организаций»</td>
			<td itemprop="degree">Инженер-строитель, Менеджер-экономист</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">Повышение квалификации на кафедре «Социология и политология» Социально-гуманитарный институт ГОУВПО «ДонНТУ» в форме стажировки по направлению: совершенствование методики преподавания дисциплин «Социология», «Политология» «Психология», с 06.03.17 по 06.04.17. согласно приказа № 49-13 от 03.03..17 г. Справка о прохождении стажировки № 39-28 от 06.04.17 г., Повышение квалификации в ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин  «Экономическая теория», «микроэкономика», «макроэкономика» «региональная экономика» с 03.06.19 г. по 30 .06.19 г. согласно приказа № 131-13 от 30 .05. 2019 г. справка о прохождении стажировки № 39-36 от 01.07.19 г</td>
			<td itemprop="genExperience">30</td>
			<td itemprop="specExperience">24</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Гречко Инна Викторовна</td>
			<td itemprop="post">Доцент кафедры</td>
			<td itemprop="teachingDiscipline">Культурология, Философия, Этика/Эстетика</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Донецкий государственный университет, 1970 г.</td>
			<td itemprop="teachingQual">Специальность «История»</td>
			<td itemprop="degree">Историк, преподаватель истории и обществознания</td>
			<td itemprop="academStat">Кандидат исторических наук</td>
			<td itemprop="employeeQualification">Доцент</td>
			<td itemprop="profDevelopment">Повышение квалификации на кафедре «Социология и политология» Социально-гуманитарный институт ГОУВПО «ДонНТУ» в форме стажировки по направлению совершенствование методики преподавания дисциплины «Культурология», с 06.03.17г. по 06.04.17г. согласно приказа № 49-13 от 03.03.17 г. Справка о прохождении стажировки № 39-26 от  06.04.17 г.</td>
			<td itemprop="genExperience">49</td>
			<td itemprop="specExperience">44</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Ковалева Ольга Валентиновна</td>
			<td itemprop="post">Доцент кафедры</td>
			<td itemprop="teachingDiscipline">История, Психология, Педагогическая практика, деловая среда и искусство общения, психология межличностных отношений</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Харьковский государственный университет им. А.М.Горького, 1978 г.</td>
			<td itemprop="teachingQual">Специальность «История»</td>
			<td itemprop="degree">Историк, преподаватель обществоведения</td>
			<td itemprop="academStat">Кандидат исторических наук</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">Повышение квалификации на кафедре  «История и право». Социально-гуманитарный институт ГУВПО «ДонНТУ» в форме стажировки по направлению совершенствование методики преподавания дисциплин «История», «Правоведение» с 06.03.17г. по 06.04.17г. согласно приказа № 49-13 от 03.03.17 г., Справка о прохождении стажировки № 39-29 от 06.04.2017 г., Повышение квалификации в ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин «Философия», «История и философия науки» с03.06.19 г. по 30 .06.19 г. согласно приказа № 131-13 от 30 .05. 2019 г. справка о прохождении стажировки № 39-34 от 01.07.19 г.</td>
			<td itemprop="genExperience">51</td>
			<td itemprop="specExperience">41</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Глушко Екатерина Сергеевна</td>
			<td itemprop="post">Доцент кафедры</td>
			<td itemprop="teachingDiscipline">Философия, Политология, История философии и науки, Культурно-религиозное наследие, логика</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Автомобильно-дорожный институт Донецкого национального технического университета, 2002 г.</td>
			<td itemprop="teachingQual">Специальность «Менеджмент организаций»</td>
			<td itemprop="degree">Экономист-менеджер</td>
			<td itemprop="academStat">Кандидат экономических наук</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">Повышение квалификации на кафедре «Философия». Социально-гуманитарный институт ГОУВПО «ДонНТУ» в форме стажировки по направлению совершенствование методики преподавания дисциплины «Философия», с 06.03.17г. по 06.04.17г., согласно приказа № 49-13 от 03.03.17г. Справка о прохождении стажировки № 39-25. От 06.04.2017 г., 1.12.2018 г. Поступила в аспирантуру ГОУВПО «ДОННУ» на кафедру «Философия»</td>
			<td itemprop="genExperience">20</td>
			<td itemprop="specExperience">12</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Шипович Марина Анатольевна</td>
			<td itemprop="post">Доцент кафедры</td>
			<td itemprop="teachingDiscipline">История, политология, правоведение, педагогика, социология труда</td>
			<td itemprop="teachingLevel">Высшее, Специалитет, Донецкий государственный университет, 1986 г</td>
			<td itemprop="teachingQual">Специальность «История»</td>
			<td itemprop="degree">Историк, преподаватель истории и обществоведения</td>
			<td itemprop="academStat">Кандидат исторических наук</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">Повышение квалификации на кафедре  «История и право». Социально-гуманитарный институт ГУВПО «ДонНТУ» в форме стажировки по направлению: совершенствование методики преподавания дисциплин «История», «Правоведение» с 06.03.17г. по 06.04.17г. согласно приказа № 49-13 от 03.03.17 г., Справка о прохождении стажировки № 39-29 от 06.04.2017г., Повышение квалификации в ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин «Социология», «Социология труда», «Политология» с03.06.19 г. по 30 .06.19 г. согласно приказа № 131-13 от 30 .05. 2019 г. справка о прохождении стажировки № 39-35 от 01.07.19 г.</td>
			<td itemprop="genExperience">38</td>
			<td itemprop="specExperience">33</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Щербакова Марина Геральдовна</td>
			<td itemprop="post">Старший преподаватель по совместительству</td>
			<td itemprop="teachingDiscipline">Правоведение (законы в строительстве), Трудовое и транспортное право, Экологическое право, Предпринимательское право</td>
			<td itemprop="teachingLevel">Высшее, Специалитет, Донецкий государственный университет, 1989 г.</td>
			<td itemprop="teachingQual">Специальность «Правоведение», Специализация «Хозяйственно-правовая»</td>
			<td itemprop="degree">юрист</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Повышение квалификации  ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин «Правоведение», «Трудовое и транспортное право», «Правоведение (законы в строительтстве)», «Предпринимательское право», «Транспортное право», «Экологическое право» с 21.10.2019 г. по 20.11.2019 г. согласно приказа №169 от 11.10.2019, справка о прохождении стажировки №39-50 от 28.11.2019 г.</td>
			<td itemprop="genExperience">35</td>
			<td itemprop="specExperience">28</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Семененко Виктория Васильевна</td>
			<td itemprop="post">Старший преподаватель по совместительству</td>
			<td itemprop="teachingDiscipline">Интеллектуальная собственность</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Донецкий политехнический институт, 1979 г., Высшее, специалитет, Донецкий общественный институт патентоведения, 1979г.</td>
			<td itemprop="teachingQual">Специальность «Автомобили и автомобильное хозяйство», Специальность «Патентоведение»</td>
			<td itemprop="degree">Инженер-механик, патентовед</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Центральный институт повышения квалификации руководящих работников и специалистов народного хозяйства в области патентной работы, 1981г.</td>
			<td itemprop="genExperience">46</td>
			<td itemprop="specExperience">45</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Комоцкая Валерия Александровна</td>
			<td itemprop="post">Доцент кафедры</td>
			<td itemprop="teachingDiscipline">Физическая культура</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Донецкий государственный институт здоровья, физического воспитания и спорта, 2002 г.</td>
			<td itemprop="teachingQual">Специальность «Олимпийский и профессиональный спорт»</td>
			<td itemprop="degree">Тренер по баскетболу, преподаватель физического воспитания</td>
			<td itemprop="academStat">Кандидат наук по физическому воспитанию и спорту</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин «Физическое воспитание», «Спортивные игры», «общая физическая подготовка для студентов 1-2 года обучения» с 01.03.2017 г. по 31.03.2017. согласно приказа № 48-13 от 01.03.2017 г. справка о прохождении стажировки № 39-09 от 31.03.2017 г.</td>
			<td itemprop="genExperience">17</td>
			<td itemprop="specExperience">17</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Курмаева Елена Викторовна</td>
			<td itemprop="post">Ассистент кафедры</td>
			<td itemprop="teachingDiscipline">Физическая культура</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Донецкий государственный институт здоровья, физического воспитания и спорта, 2011 г.</td>
			<td itemprop="teachingQual">Специальность «Олимпийский и профессиональный спорт»</td>
			<td itemprop="degree">Преподаватель физической культуры, Специалист по менеджменту и управлению физическим воспитанием и спортом.</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Повышение квалификации в ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин «Физическое воспитание», с 01.11.2017 г. по 30.11.2017. согласно приказа № 396-13 от 31.10.2017г. справка о прохождении стажировки № 39-75 от 31.11.2017 г.</td>
			<td itemprop="genExperience">18</td>
			<td itemprop="specExperience">4</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Марченко Елена Витальева</td>
			<td itemprop="post">Старший преподаватель кафедры</td>
			<td itemprop="teachingDiscipline">Физическая культура</td>
			<td itemprop="teachingLevel">Высшее, специалитет, Днепропетровский государственный институт физической культуры, 1977 г.</td>
			<td itemprop="teachingQual">Специальность «Физическая культура и спорт»</td>
			<td itemprop="degree">Преподаватель-тренер по виду спорта</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Повышение квалификации в ГОУВПО «ДОННТУ» в форме стажировки по направлению совершенствования методики преподавания дисциплин «Физическое воспитание», с 01.11.2017 г. по 30.11.2017. согласно приказа № 396-13 от 31.10.2017г. справка о прохождении стажировки № 39-76 от 31.11.2017 г.</td>
			<td itemprop="genExperience">30</td>
			<td itemprop="specExperience">29</td>
		</tr>
    <tr><td style="text-align: left;" colspan="11"><strong>Кафедра «Иностранные языки»</strong></td></tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Никульшина Татьяна Николаевна</td>
			<td itemprop="post">зав. кафедрой</td>
			<td itemprop="teachingDiscipline">Иностран-ный (англ.) язык проф. направленности</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Горловский государственный педагогический институт иностранных языков. Специальность – английский и французский языки</td>
			<td itemprop="degree">Учитель английского и французского языков</td>
			<td itemprop="academStat">д. филол. н.</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">Повышение квалификации по дополнительной профессиональной программе «Современные образовательные технологии в  реподавании иностранного (английского) языка» АНО ВО «Санкт-Петербургский педагогический институт». 2019</td>
			<td itemprop="genExperience">26,6</td>
			<td itemprop="specExperience">26,6</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Борисова Марина Викторовна</td>
			<td itemprop="post">доцент</td>
			<td itemprop="teachingDiscipline">Иностранный (англ.) язык, Русский язык и культура речи</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Горловский государственный педагогический институт иностранных языков. Специальность –  Язык и литература (английская). Украинский язык и литература</td>
			<td itemprop="degree">Учитель английского языка и зарубежной литературы, украинского языка и литературы</td>
			<td itemprop="academStat">к. пед. н.</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">1. Повышение квалификации по дополнительной профессиональной программе «Компетентностный подход к разработке и реализации профессиональных образовательных программ» ЧОУ ВО «Санкт-Петербургский университет технологий управления и экономики». 2018., 2. Повышение квалификации по иностранному (английскому) языку. ДонНТУ. 2017</td>
			<td itemprop="genExperience">17,6</td>
			<td itemprop="specExperience">17,6</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Юшкова Светлана Алексеевна</td>
			<td itemprop="post">доцент</td>
			<td itemprop="teachingDiscipline">Иностран-ный (нем.) язык проф. направ., Иностранный (англ.) язык, Иностранный (нем.) язык, Русский язык и культура речи</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Горловский государственный педагогический институт иностранных языков., Специальность – немецкий и английский языки</td>
			<td itemprop="degree">Учитель немецкого и английского языков</td>
			<td itemprop="academStat">к.филол.н.</td>
			<td itemprop="employeeQualification">доцент</td>
			<td itemprop="profDevelopment">1. Повышение квалификации по дополнительной профессиональной программе «Русский язык и культура речи». АНО ВО «Санкт-Петербургский педагогический институт». 2019, 2. Повышение квалификации по иностранному (английскому) языку. ДонНТУ. 2017</td>
			<td itemprop="genExperience">30,8</td>
			<td itemprop="specExperience">30,8</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Мудрая Татьяна Владимировна</td>
			<td itemprop="post">ст. преподаватель</td>
			<td itemprop="teachingDiscipline">Иностранный (англ.) язык</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Донецкий национальный университет., Специальность – английский язык и литература</td>
			<td itemprop="degree">Филолог. Преподаватель. Переводчик</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Повышение квалификации по иностранному (английскому) языку. ДонНТУ. 2017</td>
			<td itemprop="genExperience">46,3</td>
			<td itemprop="specExperience">38,2</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Цеповская Валерия Владимировна</td>
			<td itemprop="post">ст. преподаватель</td>
			<td itemprop="teachingDiscipline">Иностранный (франц.) язык, Иностранный (франц.) язык проф. направленности</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Горловский государственный педагогический институт иностранных языков. Специальность – французский язык</td>
			<td itemprop="degree">Учитель французского языка средней школы</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Повышение квалификации по иностранному (французскому) языку. ДонНТУ. 2017</td>
			<td itemprop="genExperience">53,3</td>
			<td itemprop="specExperience">48,5</td>
		</tr>
		<tr itemprop="teachingStaff">
			<td itemprop="fio">Чехлань Надежда Александровна</td>
			<td itemprop="post">ассистент</td>
			<td itemprop="teachingDiscipline">Иностранный (англ.) язык</td>
			<td itemprop="teachingLevel">Высшее</td>
			<td itemprop="teachingQual">Горловский государственный педагогический институт иностранных языков. Специальность – английский и немецкий языки</td>
			<td itemprop="degree">Учитель английского и немецкого языков</td>
			<td itemprop="academStat">-</td>
			<td itemprop="employeeQualification">-</td>
			<td itemprop="profDevelopment">Повышение квалификации по иностранному (английскому) языку. ДонНТУ. 2017</td>
			<td itemprop="genExperience">25,6</td>
			<td itemprop="specExperience">25,6</td>
		</tr>
	</tbody>
</table>
</div>
<br />
<p>
	<strong>Раскрытие информации об образовательной организации в соответствии с Приказом Рособрнадзора №785 от 29.05.2014 "Об утверждении требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления на нем информации" (с изменениями и дополнениями от 02.02.2016 приказ №134, от 27.11.2017 приказ №1968 и 14.05.2019 приказ №631, от 07.04.2020 №493).</strong>
</p>
