---
layout: page-sveden
title: Платные образовательные услуги
subtitle: Сведения об образовательной организации
lang: ru
ref: Платные образовательные услуги
menubar: sveden_menu
show_sidebar: false
---
<div itemprop="paidEdu">
	<h3 itemprop="reportEduDocLink">Документы о порядке оказания платных образовательных услуг:</h3>
	<p itemprop="reportEduDocLink"><a href="#" target="_blank">Положение об оказании платных образовательных услуг в ГОУ ВПО АДИ «ДОННУ»</a></p>
	<p class="rteleft"><strong>Образцы договоров об оказании платных образовательных услуг</strong></p>
	<p><strong>Бакалавриат, специалитет, магистратура, аспирантура:</strong></p>
	<p><a href="#">Образец договора об образовании (оказании платных образовательных услуг)</a></p>
	<p>&nbsp;</p>
	<hr />
	<p class="rteleft"><strong>Документы об утверждении стоимости обучения по каждой образовательной программе</strong></p>
	<p><strong>Бакалавриат, специалитет, магистратура:</strong></p>
	<p><a href="#">Приказ об установлении размера стоимости проживания на 2018-2019 уч.год</a></p>
	<p><a href="#">Прейскурант стоимости обучения студентов набора 2017 года</a></p>
	<p><a href="#">Прейскурант стоимости обучения студентов набора 2018 года</a></p>
	<p><a href="#">Прейскурант стоимости обучения студентов набора 2019 года</a></p>
	<hr />
	<p>&nbsp;</p>
</div>
<br />
<p>
	<strong>Раскрытие информации об образовательной организации в соответствии с Приказом Рособрнадзора №785 от 29.05.2014 "Об утверждении требований к структуре официального сайта образовательной организации в информационно-телекоммуникационной сети "Интернет" и формату представления на нем информации" (с изменениями и дополнениями от 02.02.2016 приказ №134, от 27.11.2017 приказ №1968 и 14.05.2019 приказ №631, от 07.04.2020 №493).</strong>
</p>
