{% if page.menubar and page.show_sidebar %}
{% assign content_width = 'is-6' %}
{% elsif page.menubar or page.show_sidebar %}
{% assign content_width = 'is-9' %}
{% else %}
{% assign content_width = 'is-12' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
<body>

    <script src="{{ site.baseurl }}/assets/lightgallery/js/lightgallery.min.js"></script>

    <script src="{{ site.baseurl }}/assets/lightgallery/js/lg-thumbnail.min.js"></script>
    <script src="{{ site.baseurl }}/assets/lightgallery/js/lg-fullscreen.min.js"></script>    


    {% include header-ru.html %}

    {% unless page.hide_hero %}
    {% include hero-test.html %}
    {% endunless %}
    {% include headertwo.html %}
    {% include callouts.html %}

    <section class="section">
        <div class="container">
            <div class="columns">
                {% if page.menubar %}
                <div class="column is-3-desktop is-3-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}

                <div class="column {{ content_width }}">
                    {% include tabs.html %}
                    {% include showcase.html %}
                    {{ content }}

                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-3-desktop is-3-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% unless page.hide_footer %}
    {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
<script src="{{ site.baseurl }}/assets/js/js.cookie.js"></script>
<script src="{{ site.baseurl }}/assets/js/bvi-init.js"></script>
<script src="{{ site.baseurl }}/assets/js/bvi.min.js"></script>
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>

</body>

</html>
